nifi/nifi-registry-flow-storage/3f1f44eb-dbd4-4d3d-abc6-d58976b13e49/cbb90235-cddb-4907-9413-16839a661b92/7/7.snapshot
{
  "header" : {
    "dataModelVersion" : "3"
  },
  "content" : {
    "flowSnapshot" : {
      "externalControllerServices" : { },
      "flowContents" : {
        "comments" : "",
        "componentType" : "PROCESS_GROUP",
        "connections" : [ {
          "backPressureDataSizeThreshold" : "1 GB",
          "backPressureObjectThreshold" : 10000,
          "bends" : [ ],
          "componentType" : "CONNECTION",
          "destination" : {
            "comments" : "",
            "groupId" : "bc3f74bb-8ac4-3f8d-b141-0030d33364da",
            "id" : "68f42ea8-1111-3890-98b6-e1ae0dec89b7",
            "instanceIdentifier" : "617d79f2-57ac-3d0f-f035-9087e83b346f",
            "name" : "LogMessage",
            "type" : "PROCESSOR"
          },
          "flowFileExpiration" : "0 sec",
          "groupIdentifier" : "bc3f74bb-8ac4-3f8d-b141-0030d33364da",
          "identifier" : "45242990-9fe1-392d-b4f9-1cfb09b0a331",
          "instanceIdentifier" : "0fc95045-50eb-357f-355d-871f275adc08",
          "labelIndex" : 1,
          "loadBalanceCompression" : "DO_NOT_COMPRESS",
          "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
          "name" : "",
          "partitioningAttribute" : "",
          "prioritizers" : [ ],
          "selectedRelationships" : [ "success" ],
          "source" : {
            "comments" : "",
            "groupId" : "bc3f74bb-8ac4-3f8d-b141-0030d33364da",
            "id" : "ab9d4371-4281-3174-ac1a-fd655ee80cf3",
            "instanceIdentifier" : "bf3d4a42-5d43-3bd3-8042-e98cd0e1d7ee",
            "name" : "PutHDFS",
            "type" : "PROCESSOR"
          },
          "zIndex" : 0
        }, {
          "backPressureDataSizeThreshold" : "1 GB",
          "backPressureObjectThreshold" : 10000,
          "bends" : [ ],
          "componentType" : "CONNECTION",
          "destination" : {
            "comments" : "",
            "groupId" : "bc3f74bb-8ac4-3f8d-b141-0030d33364da",
            "id" : "0ab07ff7-b2ce-30db-a368-7b6a3b3ebfd5",
            "instanceIdentifier" : "55112186-9d32-3e97-c6d4-18977c606113",
            "name" : "LogMessage",
            "type" : "PROCESSOR"
          },
          "flowFileExpiration" : "0 sec",
          "groupIdentifier" : "bc3f74bb-8ac4-3f8d-b141-0030d33364da",
          "identifier" : "8b95801a-1d4a-3d44-8ba7-8aeb51320307",
          "instanceIdentifier" : "f968221a-12b0-3634-875f-8fb26474aa6e",
          "labelIndex" : 1,
          "loadBalanceCompression" : "DO_NOT_COMPRESS",
          "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
          "name" : "",
          "partitioningAttribute" : "",
          "prioritizers" : [ ],
          "selectedRelationships" : [ "No Retry", "Retry", "Original", "Failure" ],
          "source" : {
            "comments" : "",
            "groupId" : "bc3f74bb-8ac4-3f8d-b141-0030d33364da",
            "id" : "dde74ed2-e63d-3e00-a5c3-045f1caf1e05",
            "instanceIdentifier" : "0d100c45-0698-3623-28c4-5e0319641322",
            "name" : "InvokeHTTP",
            "type" : "PROCESSOR"
          },
          "zIndex" : 0
        }, {
          "backPressureDataSizeThreshold" : "1 GB",
          "backPressureObjectThreshold" : 10000,
          "bends" : [ ],
          "componentType" : "CONNECTION",
          "destination" : {
            "comments" : "",
            "groupId" : "bc3f74bb-8ac4-3f8d-b141-0030d33364da",
            "id" : "64deba98-4261-34e4-a830-9809c739014b",
            "instanceIdentifier" : "32a13400-83aa-17ff-004d-00c5d63f1b4b",
            "name" : "LogMessage",
            "type" : "PROCESSOR"
          },
          "flowFileExpiration" : "0 sec",
          "groupIdentifier" : "bc3f74bb-8ac4-3f8d-b141-0030d33364da",
          "identifier" : "b2b4d76f-3ec8-3a11-bce5-eb5fe12182fb",
          "instanceIdentifier" : "32a13409-83aa-17ff-92a2-cefc1f0e2f01",
          "labelIndex" : 1,
          "loadBalanceCompression" : "DO_NOT_COMPRESS",
          "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
          "name" : "",
          "partitioningAttribute" : "",
          "prioritizers" : [ ],
          "selectedRelationships" : [ "failure" ],
          "source" : {
            "comments" : "",
            "groupId" : "bc3f74bb-8ac4-3f8d-b141-0030d33364da",
            "id" : "1e74de1f-26b5-3315-823b-f617b0e32d95",
            "instanceIdentifier" : "06983627-0c45-1d10-6f6a-06ac6809db09",
            "name" : "PutHDFS",
            "type" : "PROCESSOR"
          },
          "zIndex" : 0
        }, {
          "backPressureDataSizeThreshold" : "1 GB",
          "backPressureObjectThreshold" : 10000,
          "bends" : [ ],
          "componentType" : "CONNECTION",
          "destination" : {
            "comments" : "",
            "groupId" : "bc3f74bb-8ac4-3f8d-b141-0030d33364da",
            "id" : "09c21bb8-2643-310a-b664-59912d29a506",
            "instanceIdentifier" : "77ff83aa-32a1-3400-38d9-03a8fbda838b",
            "name" : "LogMessage",
            "type" : "PROCESSOR"
          },
          "flowFileExpiration" : "0 sec",
          "groupIdentifier" : "bc3f74bb-8ac4-3f8d-b141-0030d33364da",
          "identifier" : "04109394-fbe8-37dc-8c3e-6d60371d3a4b",
          "instanceIdentifier" : "df54a185-5106-38bf-93ab-37ad68c68c8c",
          "labelIndex" : 1,
          "loadBalanceCompression" : "DO_NOT_COMPRESS",
          "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
          "name" : "",
          "partitioningAttribute" : "",
          "prioritizers" : [ ],
          "selectedRelationships" : [ "failure" ],
          "source" : {
            "comments" : "",
            "groupId" : "bc3f74bb-8ac4-3f8d-b141-0030d33364da",
            "id" : "ab9d4371-4281-3174-ac1a-fd655ee80cf3",
            "instanceIdentifier" : "bf3d4a42-5d43-3bd3-8042-e98cd0e1d7ee",
            "name" : "PutHDFS",
            "type" : "PROCESSOR"
          },
          "zIndex" : 0
        }, {
          "backPressureDataSizeThreshold" : "1 GB",
          "backPressureObjectThreshold" : 10000,
          "bends" : [ ],
          "componentType" : "CONNECTION",
          "destination" : {
            "comments" : "",
            "groupId" : "bc3f74bb-8ac4-3f8d-b141-0030d33364da",
            "id" : "b9d2cea4-3da2-37b4-8e83-a47d0d0f5daa",
            "instanceIdentifier" : "740eb6e3-ffda-31da-3220-4d5b176b65f0",
            "name" : "LogMessage",
            "type" : "PROCESSOR"
          },
          "flowFileExpiration" : "0 sec",
          "groupIdentifier" : "bc3f74bb-8ac4-3f8d-b141-0030d33364da",
          "identifier" : "15f0d7d2-0c16-39d6-8742-44ad6131a963",
          "instanceIdentifier" : "e3282c6f-b6d3-39e3-0269-53d25fc3a91c",
          "labelIndex" : 1,
          "loadBalanceCompression" : "DO_NOT_COMPRESS",
          "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
          "name" : "",
          "partitioningAttribute" : "",
          "prioritizers" : [ ],
          "selectedRelationships" : [ "No Retry", "Retry", "Original", "Failure" ],
          "source" : {
            "comments" : "",
            "groupId" : "bc3f74bb-8ac4-3f8d-b141-0030d33364da",
            "id" : "9690e6ba-f830-313d-b93c-f83b273bf037",
            "instanceIdentifier" : "24c580f6-c21c-3ada-98fa-0658243d4bf2",
            "name" : "InvokeHTTP",
            "type" : "PROCESSOR"
          },
          "zIndex" : 0
        }, {
          "backPressureDataSizeThreshold" : "1 GB",
          "backPressureObjectThreshold" : 10000,
          "bends" : [ ],
          "componentType" : "CONNECTION",
          "destination" : {
            "comments" : "",
            "groupId" : "bc3f74bb-8ac4-3f8d-b141-0030d33364da",
            "id" : "d748fef5-3475-311d-8fae-e1b2e08b12e1",
            "instanceIdentifier" : "1418ae30-073e-3035-54b3-bcc22a50cfc8",
            "name" : "ConvertRecord",
            "type" : "PROCESSOR"
          },
          "flowFileExpiration" : "0 sec",
          "groupIdentifier" : "bc3f74bb-8ac4-3f8d-b141-0030d33364da",
          "identifier" : "cd1c390c-758a-3982-8264-6851f13493a0",
          "instanceIdentifier" : "32a13453-83aa-17ff-a641-352559ffeea0",
          "labelIndex" : 1,
          "loadBalanceCompression" : "DO_NOT_COMPRESS",
          "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
          "name" : "",
          "partitioningAttribute" : "",
          "prioritizers" : [ ],
          "selectedRelationships" : [ "Response" ],
          "source" : {
            "comments" : "",
            "groupId" : "bc3f74bb-8ac4-3f8d-b141-0030d33364da",
            "id" : "9690e6ba-f830-313d-b93c-f83b273bf037",
            "instanceIdentifier" : "24c580f6-c21c-3ada-98fa-0658243d4bf2",
            "name" : "InvokeHTTP",
            "type" : "PROCESSOR"
          },
          "zIndex" : 0
        }, {
          "backPressureDataSizeThreshold" : "1 GB",
          "backPressureObjectThreshold" : 10000,
          "bends" : [ ],
          "componentType" : "CONNECTION",
          "destination" : {
            "comments" : "",
            "groupId" : "bc3f74bb-8ac4-3f8d-b141-0030d33364da",
            "id" : "f83a9ec8-3f9a-34a8-9308-6cf8599ec34a",
            "instanceIdentifier" : "32a13412-83aa-17ff-21e5-4693ad7233f6",
            "name" : "PutHDFS",
            "type" : "PROCESSOR"
          },
          "flowFileExpiration" : "0 sec",
          "groupIdentifier" : "bc3f74bb-8ac4-3f8d-b141-0030d33364da",
          "identifier" : "5fb69ee4-4979-3a51-b55b-f1b6c5ec35c4",
          "instanceIdentifier" : "32a13420-83aa-17ff-5f41-319f3566a7b1",
          "labelIndex" : 1,
          "loadBalanceCompression" : "DO_NOT_COMPRESS",
          "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
          "name" : "",
          "partitioningAttribute" : "",
          "prioritizers" : [ ],
          "selectedRelationships" : [ "success" ],
          "source" : {
            "comments" : "",
            "groupId" : "bc3f74bb-8ac4-3f8d-b141-0030d33364da",
            "id" : "f33930fe-5d52-3679-8234-4d8734d9b9e9",
            "instanceIdentifier" : "32a13410-83aa-17ff-9c37-c8d8d3578747",
            "name" : "ConvertRecord",
            "type" : "PROCESSOR"
          },
          "zIndex" : 0
        }, {
          "backPressureDataSizeThreshold" : "1 GB",
          "backPressureObjectThreshold" : 10000,
          "bends" : [ ],
          "componentType" : "CONNECTION",
          "destination" : {
            "comments" : "",
            "groupId" : "bc3f74bb-8ac4-3f8d-b141-0030d33364da",
            "id" : "ef0ba8d8-e92e-3274-baa1-7b332901eb5d",
            "instanceIdentifier" : "32a13416-83aa-17ff-a108-0bf306c9163b",
            "name" : "LogMessage",
            "type" : "PROCESSOR"
          },
          "flowFileExpiration" : "0 sec",
          "groupIdentifier" : "bc3f74bb-8ac4-3f8d-b141-0030d33364da",
          "identifier" : "05f81cff-23a2-312b-a168-3474f4eeb81d",
          "instanceIdentifier" : "32a1341c-83aa-17ff-d35d-57f9df095f3f",
          "labelIndex" : 1,
          "loadBalanceCompression" : "DO_NOT_COMPRESS",
          "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
          "name" : "",
          "partitioningAttribute" : "",
          "prioritizers" : [ ],
          "selectedRelationships" : [ "No Retry", "Retry", "Original", "Failure" ],
          "source" : {
            "comments" : "",
            "groupId" : "bc3f74bb-8ac4-3f8d-b141-0030d33364da",
            "id" : "aac5bd3f-7036-306b-ac90-443323dbf134",
            "instanceIdentifier" : "32a1340e-83aa-17ff-4d0b-a2245d31632e",
            "name" : "InvokeHTTP",
            "type" : "PROCESSOR"
          },
          "zIndex" : 0
        }, {
          "backPressureDataSizeThreshold" : "1 GB",
          "backPressureObjectThreshold" : 10000,
          "bends" : [ ],
          "componentType" : "CONNECTION",
          "destination" : {
            "comments" : "",
            "groupId" : "bc3f74bb-8ac4-3f8d-b141-0030d33364da",
            "id" : "20ef5c5e-cbee-3ff4-8112-c61131d0c4ef",
            "instanceIdentifier" : "57ac3d0f-79f2-117d-6ab7-bc0f66a4d78c",
            "name" : "LogMessage",
            "type" : "PROCESSOR"
          },
          "flowFileExpiration" : "0 sec",
          "groupIdentifier" : "bc3f74bb-8ac4-3f8d-b141-0030d33364da",
          "identifier" : "b5c50c91-a585-3218-8b6f-163ed6bc822d",
          "instanceIdentifier" : "32a13406-83aa-17ff-1f3b-773d1348e046",
          "labelIndex" : 1,
          "loadBalanceCompression" : "DO_NOT_COMPRESS",
          "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
          "name" : "",
          "partitioningAttribute" : "",
          "prioritizers" : [ ],
          "selectedRelationships" : [ "success" ],
          "source" : {
            "comments" : "",
            "groupId" : "bc3f74bb-8ac4-3f8d-b141-0030d33364da",
            "id" : "1e74de1f-26b5-3315-823b-f617b0e32d95",
            "instanceIdentifier" : "06983627-0c45-1d10-6f6a-06ac6809db09",
            "name" : "PutHDFS",
            "type" : "PROCESSOR"
          },
          "zIndex" : 0
        }, {
          "backPressureDataSizeThreshold" : "1 GB",
          "backPressureObjectThreshold" : 10000,
          "bends" : [ ],
          "componentType" : "CONNECTION",
          "destination" : {
            "comments" : "",
            "groupId" : "bc3f74bb-8ac4-3f8d-b141-0030d33364da",
            "id" : "ab9d4371-4281-3174-ac1a-fd655ee80cf3",
            "instanceIdentifier" : "bf3d4a42-5d43-3bd3-8042-e98cd0e1d7ee",
            "name" : "PutHDFS",
            "type" : "PROCESSOR"
          },
          "flowFileExpiration" : "0 sec",
          "groupIdentifier" : "bc3f74bb-8ac4-3f8d-b141-0030d33364da",
          "identifier" : "bf94636f-4b77-329a-901c-29c5ab569505",
          "instanceIdentifier" : "32a13452-83aa-17ff-64c8-810b4c7206da",
          "labelIndex" : 1,
          "loadBalanceCompression" : "DO_NOT_COMPRESS",
          "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
          "name" : "",
          "partitioningAttribute" : "",
          "prioritizers" : [ ],
          "selectedRelationships" : [ "success" ],
          "source" : {
            "comments" : "",
            "groupId" : "bc3f74bb-8ac4-3f8d-b141-0030d33364da",
            "id" : "0819a19a-84e0-312c-bfb5-aacbb4810002",
            "instanceIdentifier" : "32a13428-83aa-17ff-39a8-1a12713686b2",
            "name" : "UpdateAttribute",
            "type" : "PROCESSOR"
          },
          "zIndex" : 0
        }, {
          "backPressureDataSizeThreshold" : "1 GB",
          "backPressureObjectThreshold" : 10000,
          "bends" : [ ],
          "componentType" : "CONNECTION",
          "destination" : {
            "comments" : "",
            "groupId" : "bc3f74bb-8ac4-3f8d-b141-0030d33364da",
            "id" : "657b9d57-5889-332e-afb3-2e4e0c12a628",
            "instanceIdentifier" : "5bb15558-80bc-32de-1958-98a0e42cce3e",
            "name" : "PutHDFS",
            "type" : "PROCESSOR"
          },
          "flowFileExpiration" : "0 sec",
          "groupIdentifier" : "bc3f74bb-8ac4-3f8d-b141-0030d33364da",
          "identifier" : "949a6e20-74cc-3198-8bee-3af06815f1dd",
          "instanceIdentifier" : "7e639539-943d-3680-635b-9716803391a8",
          "labelIndex" : 1,
          "loadBalanceCompression" : "DO_NOT_COMPRESS",
          "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
          "name" : "",
          "partitioningAttribute" : "",
          "prioritizers" : [ ],
          "selectedRelationships" : [ "success" ],
          "source" : {
            "comments" : "",
            "groupId" : "bc3f74bb-8ac4-3f8d-b141-0030d33364da",
            "id" : "d748fef5-3475-311d-8fae-e1b2e08b12e1",
            "instanceIdentifier" : "1418ae30-073e-3035-54b3-bcc22a50cfc8",
            "name" : "ConvertRecord",
            "type" : "PROCESSOR"
          },
          "zIndex" : 0
        }, {
          "backPressureDataSizeThreshold" : "1 GB",
          "backPressureObjectThreshold" : 10000,
          "bends" : [ ],
          "componentType" : "CONNECTION",
          "destination" : {
            "comments" : "",
            "groupId" : "bc3f74bb-8ac4-3f8d-b141-0030d33364da",
            "id" : "0819a19a-84e0-312c-bfb5-aacbb4810002",
            "instanceIdentifier" : "32a13428-83aa-17ff-39a8-1a12713686b2",
            "name" : "UpdateAttribute",
            "type" : "PROCESSOR"
          },
          "flowFileExpiration" : "0 sec",
          "groupIdentifier" : "bc3f74bb-8ac4-3f8d-b141-0030d33364da",
          "identifier" : "f2869b65-1190-3e1a-8382-2452bbf8b3bd",
          "instanceIdentifier" : "32a13451-83aa-17ff-4506-7a634a724f92",
          "labelIndex" : 1,
          "loadBalanceCompression" : "DO_NOT_COMPRESS",
          "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
          "name" : "",
          "partitioningAttribute" : "",
          "prioritizers" : [ ],
          "selectedRelationships" : [ "Response" ],
          "source" : {
            "comments" : "",
            "groupId" : "bc3f74bb-8ac4-3f8d-b141-0030d33364da",
            "id" : "dde74ed2-e63d-3e00-a5c3-045f1caf1e05",
            "instanceIdentifier" : "0d100c45-0698-3623-28c4-5e0319641322",
            "name" : "InvokeHTTP",
            "type" : "PROCESSOR"
          },
          "zIndex" : 0
        }, {
          "backPressureDataSizeThreshold" : "1 GB",
          "backPressureObjectThreshold" : 10000,
          "bends" : [ ],
          "componentType" : "CONNECTION",
          "destination" : {
            "comments" : "",
            "groupId" : "bc3f74bb-8ac4-3f8d-b141-0030d33364da",
            "id" : "2fb34c85-2cbc-3415-9207-f162e42bb09b",
            "instanceIdentifier" : "b6356ddd-d510-3754-ea47-33ccd1f51269",
            "name" : "LogMessage",
            "type" : "PROCESSOR"
          },
          "flowFileExpiration" : "0 sec",
          "groupIdentifier" : "bc3f74bb-8ac4-3f8d-b141-0030d33364da",
          "identifier" : "38a4017b-69a5-34e8-860b-b11aeae80e6b",
          "instanceIdentifier" : "812ad66b-d6b0-3bad-3698-a4771adbe88f",
          "labelIndex" : 1,
          "loadBalanceCompression" : "DO_NOT_COMPRESS",
          "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
          "name" : "",
          "partitioningAttribute" : "",
          "prioritizers" : [ ],
          "selectedRelationships" : [ "failure" ],
          "source" : {
            "comments" : "",
            "groupId" : "bc3f74bb-8ac4-3f8d-b141-0030d33364da",
            "id" : "d748fef5-3475-311d-8fae-e1b2e08b12e1",
            "instanceIdentifier" : "1418ae30-073e-3035-54b3-bcc22a50cfc8",
            "name" : "ConvertRecord",
            "type" : "PROCESSOR"
          },
          "zIndex" : 0
        }, {
          "backPressureDataSizeThreshold" : "1 GB",
          "backPressureObjectThreshold" : 10000,
          "bends" : [ ],
          "componentType" : "CONNECTION",
          "destination" : {
            "comments" : "",
            "groupId" : "bc3f74bb-8ac4-3f8d-b141-0030d33364da",
            "id" : "f33930fe-5d52-3679-8234-4d8734d9b9e9",
            "instanceIdentifier" : "32a13410-83aa-17ff-9c37-c8d8d3578747",
            "name" : "ConvertRecord",
            "type" : "PROCESSOR"
          },
          "flowFileExpiration" : "0 sec",
          "groupIdentifier" : "bc3f74bb-8ac4-3f8d-b141-0030d33364da",
          "identifier" : "c9fea138-fc7a-3fb6-8a7d-2616c9743a41",
          "instanceIdentifier" : "32a13455-83aa-17ff-b4e9-e7391c7b4046",
          "labelIndex" : 1,
          "loadBalanceCompression" : "DO_NOT_COMPRESS",
          "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
          "name" : "",
          "partitioningAttribute" : "",
          "prioritizers" : [ ],
          "selectedRelationships" : [ "Response" ],
          "source" : {
            "comments" : "",
            "groupId" : "bc3f74bb-8ac4-3f8d-b141-0030d33364da",
            "id" : "aac5bd3f-7036-306b-ac90-443323dbf134",
            "instanceIdentifier" : "32a1340e-83aa-17ff-4d0b-a2245d31632e",
            "name" : "InvokeHTTP",
            "type" : "PROCESSOR"
          },
          "zIndex" : 0
        }, {
          "backPressureDataSizeThreshold" : "1 GB",
          "backPressureObjectThreshold" : 10000,
          "bends" : [ ],
          "componentType" : "CONNECTION",
          "destination" : {
            "comments" : "",
            "groupId" : "bc3f74bb-8ac4-3f8d-b141-0030d33364da",
            "id" : "88daaf01-e2b5-34c9-ba39-c6f14db50fb9",
            "instanceIdentifier" : "32a1341a-83aa-17ff-708a-44a37e7cc830",
            "name" : "LogMessage",
            "type" : "PROCESSOR"
          },
          "flowFileExpiration" : "0 sec",
          "groupIdentifier" : "bc3f74bb-8ac4-3f8d-b141-0030d33364da",
          "identifier" : "83641161-1d14-339b-8a80-ee2591c4691d",
          "instanceIdentifier" : "32a1341e-83aa-17ff-c55a-cfd6a1270239",
          "labelIndex" : 1,
          "loadBalanceCompression" : "DO_NOT_COMPRESS",
          "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
          "name" : "",
          "partitioningAttribute" : "",
          "prioritizers" : [ ],
          "selectedRelationships" : [ "failure" ],
          "source" : {
            "comments" : "",
            "groupId" : "bc3f74bb-8ac4-3f8d-b141-0030d33364da",
            "id" : "f83a9ec8-3f9a-34a8-9308-6cf8599ec34a",
            "instanceIdentifier" : "32a13412-83aa-17ff-21e5-4693ad7233f6",
            "name" : "PutHDFS",
            "type" : "PROCESSOR"
          },
          "zIndex" : 0
        }, {
          "backPressureDataSizeThreshold" : "1 GB",
          "backPressureObjectThreshold" : 10000,
          "bends" : [ ],
          "componentType" : "CONNECTION",
          "destination" : {
            "comments" : "",
            "groupId" : "bc3f74bb-8ac4-3f8d-b141-0030d33364da",
            "id" : "91c32bd3-8f5e-3b0e-9126-6d5f192cb897",
            "instanceIdentifier" : "32a13414-83aa-17ff-94bf-4395ded828bb",
            "name" : "LogMessage",
            "type" : "PROCESSOR"
          },
          "flowFileExpiration" : "0 sec",
          "groupIdentifier" : "bc3f74bb-8ac4-3f8d-b141-0030d33364da",
          "identifier" : "9a69f334-7c67-3b62-a3a8-345f247c136e",
          "instanceIdentifier" : "32a13421-83aa-17ff-4d46-d20fe7227579",
          "labelIndex" : 1,
          "loadBalanceCompression" : "DO_NOT_COMPRESS",
          "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
          "name" : "",
          "partitioningAttribute" : "",
          "prioritizers" : [ ],
          "selectedRelationships" : [ "success" ],
          "source" : {
            "comments" : "",
            "groupId" : "bc3f74bb-8ac4-3f8d-b141-0030d33364da",
            "id" : "f83a9ec8-3f9a-34a8-9308-6cf8599ec34a",
            "instanceIdentifier" : "32a13412-83aa-17ff-21e5-4693ad7233f6",
            "name" : "PutHDFS",
            "type" : "PROCESSOR"
          },
          "zIndex" : 0
        }, {
          "backPressureDataSizeThreshold" : "1 GB",
          "backPressureObjectThreshold" : 10000,
          "bends" : [ ],
          "componentType" : "CONNECTION",
          "destination" : {
            "comments" : "",
            "groupId" : "bc3f74bb-8ac4-3f8d-b141-0030d33364da",
            "id" : "bc0aa004-702b-3675-a5a4-65e7f1b87ce3",
            "instanceIdentifier" : "06983625-0c45-1d10-0584-502ff6da64ce",
            "name" : "ConvertRecord",
            "type" : "PROCESSOR"
          },
          "flowFileExpiration" : "0 sec",
          "groupIdentifier" : "bc3f74bb-8ac4-3f8d-b141-0030d33364da",
          "identifier" : "66398e68-3cf9-3c55-837c-ca31ec834968",
          "instanceIdentifier" : "32a13454-83aa-17ff-b8b8-1698d02a75a7",
          "labelIndex" : 1,
          "loadBalanceCompression" : "DO_NOT_COMPRESS",
          "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
          "name" : "",
          "partitioningAttribute" : "",
          "prioritizers" : [ ],
          "selectedRelationships" : [ "Response" ],
          "source" : {
            "comments" : "",
            "groupId" : "bc3f74bb-8ac4-3f8d-b141-0030d33364da",
            "id" : "a82de562-bc70-3645-889e-b84a37f1241a",
            "instanceIdentifier" : "06983623-0c45-1d10-047d-c59921ea103e",
            "name" : "InvokeHTTP",
            "type" : "PROCESSOR"
          },
          "zIndex" : 0
        }, {
          "backPressureDataSizeThreshold" : "1 GB",
          "backPressureObjectThreshold" : 10000,
          "bends" : [ ],
          "componentType" : "CONNECTION",
          "destination" : {
            "comments" : "",
            "groupId" : "bc3f74bb-8ac4-3f8d-b141-0030d33364da",
            "id" : "ddccbec7-9b66-3bf5-8d77-5fec0cfdd387",
            "instanceIdentifier" : "bdec38fc-a9ea-14a4-a03f-2f3931fbdba3",
            "name" : "LogMessage",
            "type" : "PROCESSOR"
          },
          "flowFileExpiration" : "0 sec",
          "groupIdentifier" : "bc3f74bb-8ac4-3f8d-b141-0030d33364da",
          "identifier" : "040388d1-887f-37ed-b295-4a9e010f71b7",
          "instanceIdentifier" : "32a13408-83aa-17ff-5822-ca6a881f7b36",
          "labelIndex" : 1,
          "loadBalanceCompression" : "DO_NOT_COMPRESS",
          "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
          "name" : "",
          "partitioningAttribute" : "",
          "prioritizers" : [ ],
          "selectedRelationships" : [ "failure" ],
          "source" : {
            "comments" : "",
            "groupId" : "bc3f74bb-8ac4-3f8d-b141-0030d33364da",
            "id" : "bc0aa004-702b-3675-a5a4-65e7f1b87ce3",
            "instanceIdentifier" : "06983625-0c45-1d10-0584-502ff6da64ce",
            "name" : "ConvertRecord",
            "type" : "PROCESSOR"
          },
          "zIndex" : 0
        }, {
          "backPressureDataSizeThreshold" : "1 GB",
          "backPressureObjectThreshold" : 10000,
          "bends" : [ ],
          "componentType" : "CONNECTION",
          "destination" : {
            "comments" : "",
            "groupId" : "bc3f74bb-8ac4-3f8d-b141-0030d33364da",
            "id" : "34921a09-66f5-3336-8302-2d69e271ce20",
            "instanceIdentifier" : "15caae49-be81-311a-7019-63fcc133bcf5",
            "name" : "LogMessage",
            "type" : "PROCESSOR"
          },
          "flowFileExpiration" : "0 sec",
          "groupIdentifier" : "bc3f74bb-8ac4-3f8d-b141-0030d33364da",
          "identifier" : "7b682a4c-f850-3bce-a554-34f28260ce61",
          "instanceIdentifier" : "3a9c310e-4c86-35a5-c0f6-094c9e37c7c8",
          "labelIndex" : 1,
          "loadBalanceCompression" : "DO_NOT_COMPRESS",
          "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
          "name" : "",
          "partitioningAttribute" : "",
          "prioritizers" : [ ],
          "selectedRelationships" : [ "success" ],
          "source" : {
            "comments" : "",
            "groupId" : "bc3f74bb-8ac4-3f8d-b141-0030d33364da",
            "id" : "657b9d57-5889-332e-afb3-2e4e0c12a628",
            "instanceIdentifier" : "5bb15558-80bc-32de-1958-98a0e42cce3e",
            "name" : "PutHDFS",
            "type" : "PROCESSOR"
          },
          "zIndex" : 0
        }, {
          "backPressureDataSizeThreshold" : "1 GB",
          "backPressureObjectThreshold" : 10000,
          "bends" : [ ],
          "componentType" : "CONNECTION",
          "destination" : {
            "comments" : "",
            "groupId" : "bc3f74bb-8ac4-3f8d-b141-0030d33364da",
            "id" : "11cd9b4a-d31b-337e-ace7-3b3ebe2b2835",
            "instanceIdentifier" : "32a13418-83aa-17ff-8568-2593b80e788d",
            "name" : "LogMessage",
            "type" : "PROCESSOR"
          },
          "flowFileExpiration" : "0 sec",
          "groupIdentifier" : "bc3f74bb-8ac4-3f8d-b141-0030d33364da",
          "identifier" : "90186582-1e29-3082-88fc-40fc3326dd93",
          "instanceIdentifier" : "32a1341d-83aa-17ff-33fb-7bae8c6c843b",
          "labelIndex" : 1,
          "loadBalanceCompression" : "DO_NOT_COMPRESS",
          "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
          "name" : "",
          "partitioningAttribute" : "",
          "prioritizers" : [ ],
          "selectedRelationships" : [ "failure" ],
          "source" : {
            "comments" : "",
            "groupId" : "bc3f74bb-8ac4-3f8d-b141-0030d33364da",
            "id" : "f33930fe-5d52-3679-8234-4d8734d9b9e9",
            "instanceIdentifier" : "32a13410-83aa-17ff-9c37-c8d8d3578747",
            "name" : "ConvertRecord",
            "type" : "PROCESSOR"
          },
          "zIndex" : 0
        }, {
          "backPressureDataSizeThreshold" : "1 GB",
          "backPressureObjectThreshold" : 10000,
          "bends" : [ ],
          "componentType" : "CONNECTION",
          "destination" : {
            "comments" : "",
            "groupId" : "bc3f74bb-8ac4-3f8d-b141-0030d33364da",
            "id" : "52fa13ba-3e9b-3917-a0d7-83d24bd210e9",
            "instanceIdentifier" : "57ac3d11-79f2-117d-ec2f-def8f8575b32",
            "name" : "LogMessage",
            "type" : "PROCESSOR"
          },
          "flowFileExpiration" : "0 sec",
          "groupIdentifier" : "bc3f74bb-8ac4-3f8d-b141-0030d33364da",
          "identifier" : "ae903681-7223-3db2-8e9e-687e8ab58b9e",
          "instanceIdentifier" : "32a13407-83aa-17ff-0ef7-39a6c1ea0c73",
          "labelIndex" : 1,
          "loadBalanceCompression" : "DO_NOT_COMPRESS",
          "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
          "name" : "",
          "partitioningAttribute" : "",
          "prioritizers" : [ ],
          "selectedRelationships" : [ "No Retry", "Retry", "Original", "Failure" ],
          "source" : {
            "comments" : "",
            "groupId" : "bc3f74bb-8ac4-3f8d-b141-0030d33364da",
            "id" : "a82de562-bc70-3645-889e-b84a37f1241a",
            "instanceIdentifier" : "06983623-0c45-1d10-047d-c59921ea103e",
            "name" : "InvokeHTTP",
            "type" : "PROCESSOR"
          },
          "zIndex" : 0
        }, {
          "backPressureDataSizeThreshold" : "1 GB",
          "backPressureObjectThreshold" : 10000,
          "bends" : [ ],
          "componentType" : "CONNECTION",
          "destination" : {
            "comments" : "",
            "groupId" : "bc3f74bb-8ac4-3f8d-b141-0030d33364da",
            "id" : "83177b89-88b5-3355-a49e-c323ba43529b",
            "instanceIdentifier" : "5213e3ec-1f9f-339b-eb16-128134ece59a",
            "name" : "LogMessage",
            "type" : "PROCESSOR"
          },
          "flowFileExpiration" : "0 sec",
          "groupIdentifier" : "bc3f74bb-8ac4-3f8d-b141-0030d33364da",
          "identifier" : "bf33bb22-5234-3725-8683-81d56b911150",
          "instanceIdentifier" : "207455e0-0fbc-3c41-e206-73f6a05d6576",
          "labelIndex" : 1,
          "loadBalanceCompression" : "DO_NOT_COMPRESS",
          "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
          "name" : "",
          "partitioningAttribute" : "",
          "prioritizers" : [ ],
          "selectedRelationships" : [ "failure" ],
          "source" : {
            "comments" : "",
            "groupId" : "bc3f74bb-8ac4-3f8d-b141-0030d33364da",
            "id" : "657b9d57-5889-332e-afb3-2e4e0c12a628",
            "instanceIdentifier" : "5bb15558-80bc-32de-1958-98a0e42cce3e",
            "name" : "PutHDFS",
            "type" : "PROCESSOR"
          },
          "zIndex" : 0
        }, {
          "backPressureDataSizeThreshold" : "1 GB",
          "backPressureObjectThreshold" : 10000,
          "bends" : [ ],
          "componentType" : "CONNECTION",
          "destination" : {
            "comments" : "",
            "groupId" : "bc3f74bb-8ac4-3f8d-b141-0030d33364da",
            "id" : "1e74de1f-26b5-3315-823b-f617b0e32d95",
            "instanceIdentifier" : "06983627-0c45-1d10-6f6a-06ac6809db09",
            "name" : "PutHDFS",
            "type" : "PROCESSOR"
          },
          "flowFileExpiration" : "0 sec",
          "groupIdentifier" : "bc3f74bb-8ac4-3f8d-b141-0030d33364da",
          "identifier" : "1244d46c-b90e-3204-abb2-0482be49b991",
          "instanceIdentifier" : "32a13405-83aa-17ff-e9fc-7a06f329503b",
          "labelIndex" : 1,
          "loadBalanceCompression" : "DO_NOT_COMPRESS",
          "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
          "name" : "",
          "partitioningAttribute" : "",
          "prioritizers" : [ ],
          "selectedRelationships" : [ "success" ],
          "source" : {
            "comments" : "",
            "groupId" : "bc3f74bb-8ac4-3f8d-b141-0030d33364da",
            "id" : "bc0aa004-702b-3675-a5a4-65e7f1b87ce3",
            "instanceIdentifier" : "06983625-0c45-1d10-0584-502ff6da64ce",
            "name" : "ConvertRecord",
            "type" : "PROCESSOR"
          },
          "zIndex" : 0
        } ],
        "controllerServices" : [ {
          "bulletinLevel" : "WARN",
          "bundle" : {
            "artifact" : "nifi-record-serialization-services-nar",
            "group" : "org.apache.nifi",
            "version" : "1.28.0"
          },
          "comments" : "",
          "componentType" : "CONTROLLER_SERVICE",
          "controllerServiceApis" : [ {
            "bundle" : {
              "artifact" : "nifi-standard-services-api-nar",
              "group" : "org.apache.nifi",
              "version" : "1.28.0"
            },
            "type" : "org.apache.nifi.serialization.RecordReaderFactory"
          } ],
          "groupIdentifier" : "bc3f74bb-8ac4-3f8d-b141-0030d33364da",
          "identifier" : "a9b9fac7-2e26-3137-af85-c319c1260a09",
          "instanceIdentifier" : "679431c6-3146-3394-a8fb-7369f7268e53",
          "name" : "JsonTreeReader",
          "properties" : {
            "Max String Length" : "20 MB",
            "schema-application-strategy" : "SELECTED_PART",
            "schema-name" : "${schema.name}",
            "starting-field-strategy" : "ROOT_NODE",
            "schema-access-strategy" : "infer-schema",
            "schema-text" : "${avro.schema}",
            "Allow Comments" : "false"
          },
          "propertyDescriptors" : {
            "schema-branch" : {
              "displayName" : "Schema Branch",
              "identifiesControllerService" : false,
              "name" : "schema-branch",
              "sensitive" : false
            },
            "Max String Length" : {
              "displayName" : "Max String Length",
              "identifiesControllerService" : false,
              "name" : "Max String Length",
              "sensitive" : false
            },
            "schema-application-strategy" : {
              "displayName" : "Schema Application Strategy",
              "identifiesControllerService" : false,
              "name" : "schema-application-strategy",
              "sensitive" : false
            },
            "Timestamp Format" : {
              "displayName" : "Timestamp Format",
              "identifiesControllerService" : false,
              "name" : "Timestamp Format",
              "sensitive" : false
            },
            "schema-inference-cache" : {
              "displayName" : "Schema Inference Cache",
              "identifiesControllerService" : true,
              "name" : "schema-inference-cache",
              "sensitive" : false
            },
            "Date Format" : {
              "displayName" : "Date Format",
              "identifiesControllerService" : false,
              "name" : "Date Format",
              "sensitive" : false
            },
            "schema-name" : {
              "displayName" : "Schema Name",
              "identifiesControllerService" : false,
              "name" : "schema-name",
              "sensitive" : false
            },
            "starting-field-strategy" : {
              "displayName" : "Starting Field Strategy",
              "identifiesControllerService" : false,
              "name" : "starting-field-strategy",
              "sensitive" : false
            },
            "schema-registry" : {
              "displayName" : "Schema Registry",
              "identifiesControllerService" : true,
              "name" : "schema-registry",
              "sensitive" : false
            },
            "starting-field-name" : {
              "displayName" : "Starting Field Name",
              "identifiesControllerService" : false,
              "name" : "starting-field-name",
              "sensitive" : false
            },
            "Time Format" : {
              "displayName" : "Time Format",
              "identifiesControllerService" : false,
              "name" : "Time Format",
              "sensitive" : false
            },
            "schema-access-strategy" : {
              "displayName" : "Schema Access Strategy",
              "identifiesControllerService" : false,
              "name" : "schema-access-strategy",
              "sensitive" : false
            },
            "schema-version" : {
              "displayName" : "Schema Version",
              "identifiesControllerService" : false,
              "name" : "schema-version",
              "sensitive" : false
            },
            "schema-text" : {
              "displayName" : "Schema Text",
              "identifiesControllerService" : false,
              "name" : "schema-text",
              "sensitive" : false
            },
            "Allow Comments" : {
              "displayName" : "Allow Comments",
              "identifiesControllerService" : false,
              "name" : "Allow Comments",
              "sensitive" : false
            }
          },
          "scheduledState" : "DISABLED",
          "type" : "org.apache.nifi.json.JsonTreeReader"
        }, {
          "bulletinLevel" : "WARN",
          "bundle" : {
            "artifact" : "nifi-record-serialization-services-nar",
            "group" : "org.apache.nifi",
            "version" : "1.28.0"
          },
          "comments" : "",
          "componentType" : "CONTROLLER_SERVICE",
          "controllerServiceApis" : [ {
            "bundle" : {
              "artifact" : "nifi-standard-services-api-nar",
              "group" : "org.apache.nifi",
              "version" : "1.28.0"
            },
            "type" : "org.apache.nifi.serialization.RecordSetWriterFactory"
          } ],
          "groupIdentifier" : "bc3f74bb-8ac4-3f8d-b141-0030d33364da",
          "identifier" : "36700366-9018-3045-bb0c-d3c9657c0cec",
          "instanceIdentifier" : "bbd0fba8-381d-337a-cf75-138c99af8c0e",
          "name" : "AvroRecordSetWriter",
          "properties" : {
            "compression-format" : "NONE",
            "Schema Write Strategy" : "avro-embedded",
            "schema-name" : "${schema.name}",
            "cache-size" : "1000",
            "schema-access-strategy" : "inherit-record-schema",
            "schema-protocol-version" : "1",
            "encoder-pool-size" : "32",
            "schema-text" : "${avro.schema}"
          },
          "propertyDescriptors" : {
            "compression-format" : {
              "displayName" : "Compression Format",
              "identifiesControllerService" : false,
              "name" : "compression-format",
              "sensitive" : false
            },
            "Schema Write Strategy" : {
              "displayName" : "Schema Write Strategy",
              "identifiesControllerService" : false,
              "name" : "Schema Write Strategy",
              "sensitive" : false
            },
            "schema-branch" : {
              "displayName" : "Schema Branch",
              "identifiesControllerService" : false,
              "name" : "schema-branch",
              "sensitive" : false
            },
            "schema-name" : {
              "displayName" : "Schema Name",
              "identifiesControllerService" : false,
              "name" : "schema-name",
              "sensitive" : false
            },
            "cache-size" : {
              "displayName" : "Cache Size",
              "identifiesControllerService" : false,
              "name" : "cache-size",
              "sensitive" : false
            },
            "schema-registry" : {
              "displayName" : "Schema Registry",
              "identifiesControllerService" : true,
              "name" : "schema-registry",
              "sensitive" : false
            },
            "schema-access-strategy" : {
              "displayName" : "Schema Access Strategy",
              "identifiesControllerService" : false,
              "name" : "schema-access-strategy",
              "sensitive" : false
            },
            "schema-protocol-version" : {
              "displayName" : "Schema Protocol Version",
              "identifiesControllerService" : false,
              "name" : "schema-protocol-version",
              "sensitive" : false
            },
            "schema-version" : {
              "displayName" : "Schema Version",
              "identifiesControllerService" : false,
              "name" : "schema-version",
              "sensitive" : false
            },
            "encoder-pool-size" : {
              "displayName" : "Encoder Pool Size",
              "identifiesControllerService" : false,
              "name" : "encoder-pool-size",
              "sensitive" : false
            },
            "schema-cache" : {
              "displayName" : "Schema Cache",
              "identifiesControllerService" : true,
              "name" : "schema-cache",
              "sensitive" : false
            },
            "schema-text" : {
              "displayName" : "Schema Text",
              "identifiesControllerService" : false,
              "name" : "schema-text",
              "sensitive" : false
            }
          },
          "scheduledState" : "DISABLED",
          "type" : "org.apache.nifi.avro.AvroRecordSetWriter"
        } ],
        "defaultBackPressureDataSizeThreshold" : "1 GB",
        "defaultBackPressureObjectThreshold" : 10000,
        "defaultFlowFileExpiration" : "0 sec",
        "flowFileConcurrency" : "UNBOUNDED",
        "flowFileOutboundPolicy" : "STREAM_WHEN_AVAILABLE",
        "funnels" : [ ],
        "identifier" : "bc3f74bb-8ac4-3f8d-b141-0030d33364da",
        "inputPorts" : [ ],
        "instanceIdentifier" : "b16ded84-019a-1000-8afd-fed5fa7387e6",
        "labels" : [ {
          "componentType" : "LABEL",
          "groupIdentifier" : "bc3f74bb-8ac4-3f8d-b141-0030d33364da",
          "height" : 1136.0,
          "identifier" : "14ca4ec6-e848-3d25-b53b-39a9b4ace043",
          "instanceIdentifier" : "32a13402-83aa-17ff-e422-0c56b5e7630e",
          "label" : "AIR POLLUTION",
          "position" : {
            "x" : 1280.0,
            "y" : -256.0
          },
          "style" : {
            "background-color" : "#cfb483",
            "font-size" : "16px"
          },
          "width" : 952.0,
          "zIndex" : 0
        }, {
          "componentType" : "LABEL",
          "groupIdentifier" : "bc3f74bb-8ac4-3f8d-b141-0030d33364da",
          "height" : 1136.0,
          "identifier" : "8e8f9dc0-a38f-3246-a380-fecb415bca3c",
          "instanceIdentifier" : "32a13429-83aa-17ff-5b72-8fbd0cdbd2a3",
          "label" : "WEATHER",
          "position" : {
            "x" : 296.0,
            "y" : -256.0
          },
          "style" : {
            "background-color" : "#d6f3ff",
            "font-size" : "16px"
          },
          "width" : 984.0,
          "zIndex" : 0
        }, {
          "componentType" : "LABEL",
          "groupIdentifier" : "bc3f74bb-8ac4-3f8d-b141-0030d33364da",
          "height" : 1136.0,
          "identifier" : "69e49622-a275-34f2-ba26-b5e4ec2cbcd5",
          "instanceIdentifier" : "32a1340c-83aa-17ff-b62c-5882042e5364",
          "label" : "TRAFFIC",
          "position" : {
            "x" : 2232.0,
            "y" : -256.0
          },
          "style" : {
            "background-color" : "#fadec8",
            "font-size" : "16px"
          },
          "width" : 912.0,
          "zIndex" : 0
        }, {
          "componentType" : "LABEL",
          "groupIdentifier" : "bc3f74bb-8ac4-3f8d-b141-0030d33364da",
          "height" : 1136.0,
          "identifier" : "9a5a6897-4014-3f8d-9c84-768a8b84b8f8",
          "instanceIdentifier" : "32a1341b-83aa-17ff-54dc-ed51fffc3465",
          "label" : "UV INDEX",
          "position" : {
            "x" : 3144.0,
            "y" : -256.0
          },
          "style" : {
            "font-size" : "16px"
          },
          "width" : 944.0,
          "zIndex" : 0
        } ],
        "name" : "main",
        "outputPorts" : [ ],
        "position" : {
          "x" : 432.0,
          "y" : 200.0
        },
        "processGroups" : [ ],
        "processors" : [ {
          "autoTerminatedRelationships" : [ ],
          "backoffMechanism" : "PENALIZE_FLOWFILE",
          "bulletinLevel" : "WARN",
          "bundle" : {
            "artifact" : "nifi-update-attribute-nar",
            "group" : "org.apache.nifi",
            "version" : "1.28.0"
          },
          "comments" : "",
          "componentType" : "PROCESSOR",
          "concurrentlySchedulableTaskCount" : 1,
          "executionNode" : "ALL",
          "groupIdentifier" : "bc3f74bb-8ac4-3f8d-b141-0030d33364da",
          "identifier" : "0819a19a-84e0-312c-bfb5-aacbb4810002",
          "instanceIdentifier" : "32a13428-83aa-17ff-39a8-1a12713686b2",
          "maxBackoffPeriod" : "10 mins",
          "name" : "UpdateAttribute",
          "penaltyDuration" : "30 sec",
          "position" : {
            "x" : 344.0,
            "y" : 328.0
          },
          "properties" : {
            "Store State" : "Do not store state",
            "canonical-value-lookup-cache-size" : "100"
          },
          "propertyDescriptors" : {
            "Delete Attributes Expression" : {
              "displayName" : "Delete Attributes Expression",
              "identifiesControllerService" : false,
              "name" : "Delete Attributes Expression",
              "sensitive" : false
            },
            "Store State" : {
              "displayName" : "Store State",
              "identifiesControllerService" : false,
              "name" : "Store State",
              "sensitive" : false
            },
            "canonical-value-lookup-cache-size" : {
              "displayName" : "Cache Value Lookup Cache Size",
              "identifiesControllerService" : false,
              "name" : "canonical-value-lookup-cache-size",
              "sensitive" : false
            },
            "Stateful Variables Initial Value" : {
              "displayName" : "Stateful Variables Initial Value",
              "identifiesControllerService" : false,
              "name" : "Stateful Variables Initial Value",
              "sensitive" : false
            }
          },
          "retriedRelationships" : [ ],
          "retryCount" : 10,
          "runDurationMillis" : 25,
          "scheduledState" : "ENABLED",
          "schedulingPeriod" : "0 sec",
          "schedulingStrategy" : "TIMER_DRIVEN",
          "style" : { },
          "type" : "org.apache.nifi.processors.attributes.UpdateAttribute",
          "yieldDuration" : "1 sec"
        }, {
          "autoTerminatedRelationships" : [ ],
          "backoffMechanism" : "PENALIZE_FLOWFILE",
          "bulletinLevel" : "WARN",
          "bundle" : {
            "artifact" : "nifi-standard-nar",
            "group" : "org.apache.nifi",
            "version" : "1.28.0"
          },
          "comments" : "",
          "componentType" : "PROCESSOR",
          "concurrentlySchedulableTaskCount" : 1,
          "executionNode" : "ALL",
          "groupIdentifier" : "bc3f74bb-8ac4-3f8d-b141-0030d33364da",
          "identifier" : "f33930fe-5d52-3679-8234-4d8734d9b9e9",
          "instanceIdentifier" : "32a13410-83aa-17ff-9c37-c8d8d3578747",
          "maxBackoffPeriod" : "10 mins",
          "name" : "ConvertRecord",
          "penaltyDuration" : "30 sec",
          "position" : {
            "x" : 3224.0,
            "y" : 344.0
          },
          "properties" : {
            "record-writer" : "36700366-9018-3045-bb0c-d3c9657c0cec",
            "record-reader" : "a9b9fac7-2e26-3137-af85-c319c1260a09",
            "include-zero-record-flowfiles" : "true"
          },
          "propertyDescriptors" : {
            "record-writer" : {
              "displayName" : "Record Writer",
              "identifiesControllerService" : true,
              "name" : "record-writer",
              "sensitive" : false
            },
            "record-reader" : {
              "displayName" : "Record Reader",
              "identifiesControllerService" : true,
              "name" : "record-reader",
              "sensitive" : false
            },
            "include-zero-record-flowfiles" : {
              "displayName" : "Include Zero Record FlowFiles",
              "identifiesControllerService" : false,
              "name" : "include-zero-record-flowfiles",
              "sensitive" : false
            }
          },
          "retriedRelationships" : [ ],
          "retryCount" : 10,
          "runDurationMillis" : 0,
          "scheduledState" : "ENABLED",
          "schedulingPeriod" : "0 sec",
          "schedulingStrategy" : "TIMER_DRIVEN",
          "style" : { },
          "type" : "org.apache.nifi.processors.standard.ConvertRecord",
          "yieldDuration" : "1 sec"
        }, {
          "autoTerminatedRelationships" : [ ],
          "backoffMechanism" : "PENALIZE_FLOWFILE",
          "bulletinLevel" : "WARN",
          "bundle" : {
            "artifact" : "nifi-standard-nar",
            "group" : "org.apache.nifi",
            "version" : "1.28.0"
          },
          "comments" : "",
          "componentType" : "PROCESSOR",
          "concurrentlySchedulableTaskCount" : 1,
          "executionNode" : "ALL",
          "groupIdentifier" : "bc3f74bb-8ac4-3f8d-b141-0030d33364da",
          "identifier" : "3437293d-6ca7-3b69-a6b5-12e77d63af38",
          "instanceIdentifier" : "32a13449-83aa-17ff-bd31-39d3023de2b7",
          "maxBackoffPeriod" : "10 mins",
          "name" : "LogMessage",
          "penaltyDuration" : "30 sec",
          "position" : {
            "x" : 2752.0,
            "y" : 24.0
          },
          "properties" : {
            "log-level" : "info"
          },
          "propertyDescriptors" : {
            "log-message" : {
              "displayName" : "Log message",
              "identifiesControllerService" : false,
              "name" : "log-message",
              "sensitive" : false
            },
            "log-level" : {
              "displayName" : "Log Level",
              "identifiesControllerService" : false,
              "name" : "log-level",
              "sensitive" : false
            },
            "log-prefix" : {
              "displayName" : "Log prefix",
              "identifiesControllerService" : false,
              "name" : "log-prefix",
              "sensitive" : false
            }
          },
          "retriedRelationships" : [ ],
          "retryCount" : 10,
          "runDurationMillis" : 25,
          "scheduledState" : "ENABLED",
          "schedulingPeriod" : "0 sec",
          "schedulingStrategy" : "TIMER_DRIVEN",
          "style" : { },
          "type" : "org.apache.nifi.processors.standard.LogMessage",
          "yieldDuration" : "1 sec"
        }, {
          "autoTerminatedRelationships" : [ ],
          "backoffMechanism" : "PENALIZE_FLOWFILE",
          "bulletinLevel" : "WARN",
          "bundle" : {
            "artifact" : "nifi-standard-nar",
            "group" : "org.apache.nifi",
            "version" : "1.28.0"
          },
          "comments" : "",
          "componentType" : "PROCESSOR",
          "concurrentlySchedulableTaskCount" : 1,
          "executionNode" : "ALL",
          "groupIdentifier" : "bc3f74bb-8ac4-3f8d-b141-0030d33364da",
          "identifier" : "11cd9b4a-d31b-337e-ace7-3b3ebe2b2835",
          "instanceIdentifier" : "32a13418-83aa-17ff-8568-2593b80e788d",
          "maxBackoffPeriod" : "10 mins",
          "name" : "LogMessage",
          "penaltyDuration" : "30 sec",
          "position" : {
            "x" : 3704.0,
            "y" : 344.0
          },
          "properties" : {
            "log-level" : "info"
          },
          "propertyDescriptors" : {
            "log-message" : {
              "displayName" : "Log message",
              "identifiesControllerService" : false,
              "name" : "log-message",
              "sensitive" : false
            },
            "log-level" : {
              "displayName" : "Log Level",
              "identifiesControllerService" : false,
              "name" : "log-level",
              "sensitive" : false
            },
            "log-prefix" : {
              "displayName" : "Log prefix",
              "identifiesControllerService" : false,
              "name" : "log-prefix",
              "sensitive" : false
            }
          },
          "retriedRelationships" : [ ],
          "retryCount" : 10,
          "runDurationMillis" : 25,
          "scheduledState" : "ENABLED",
          "schedulingPeriod" : "0 sec",
          "schedulingStrategy" : "TIMER_DRIVEN",
          "style" : { },
          "type" : "org.apache.nifi.processors.standard.LogMessage",
          "yieldDuration" : "1 sec"
        }, {
          "autoTerminatedRelationships" : [ ],
          "backoffMechanism" : "PENALIZE_FLOWFILE",
          "bulletinLevel" : "WARN",
          "bundle" : {
            "artifact" : "nifi-standard-nar",
            "group" : "org.apache.nifi",
            "version" : "1.28.0"
          },
          "comments" : "",
          "componentType" : "PROCESSOR",
          "concurrentlySchedulableTaskCount" : 1,
          "executionNode" : "ALL",
          "groupIdentifier" : "bc3f74bb-8ac4-3f8d-b141-0030d33364da",
          "identifier" : "fd92414e-0eb9-3921-b3ef-2eb68095c7d4",
          "instanceIdentifier" : "9b3ed1fd-3381-3f35-1e01-516f95772df9",
          "maxBackoffPeriod" : "10 mins",
          "name" : "ConvertRecord",
          "penaltyDuration" : "30 sec",
          "position" : {
            "x" : 304.0,
            "y" : 960.0
          },
          "properties" : {
            "record-writer" : "36700366-9018-3045-bb0c-d3c9657c0cec",
            "record-reader" : "a9b9fac7-2e26-3137-af85-c319c1260a09",
            "include-zero-record-flowfiles" : "true"
          },
          "propertyDescriptors" : {
            "record-writer" : {
              "displayName" : "Record Writer",
              "identifiesControllerService" : true,
              "name" : "record-writer",
              "sensitive" : false
            },
            "record-reader" : {
              "displayName" : "Record Reader",
              "identifiesControllerService" : true,
              "name" : "record-reader",
              "sensitive" : false
            },
            "include-zero-record-flowfiles" : {
              "displayName" : "Include Zero Record FlowFiles",
              "identifiesControllerService" : false,
              "name" : "include-zero-record-flowfiles",
              "sensitive" : false
            }
          },
          "retriedRelationships" : [ ],
          "retryCount" : 10,
          "runDurationMillis" : 0,
          "scheduledState" : "ENABLED",
          "schedulingPeriod" : "0 sec",
          "schedulingStrategy" : "TIMER_DRIVEN",
          "style" : { },
          "type" : "org.apache.nifi.processors.standard.ConvertRecord",
          "yieldDuration" : "1 sec"
        }, {
          "autoTerminatedRelationships" : [ ],
          "backoffMechanism" : "PENALIZE_FLOWFILE",
          "bulletinLevel" : "WARN",
          "bundle" : {
            "artifact" : "nifi-update-attribute-nar",
            "group" : "org.apache.nifi",
            "version" : "1.28.0"
          },
          "comments" : "",
          "componentType" : "PROCESSOR",
          "concurrentlySchedulableTaskCount" : 1,
          "executionNode" : "ALL",
          "groupIdentifier" : "bc3f74bb-8ac4-3f8d-b141-0030d33364da",
          "identifier" : "6513e3f5-e79c-36e1-a269-8ee4707bad7a",
          "instanceIdentifier" : "32a13424-83aa-17ff-189d-af745f57f795",
          "maxBackoffPeriod" : "10 mins",
          "name" : "UpdateAttribute",
          "penaltyDuration" : "30 sec",
          "position" : {
            "x" : 3208.0,
            "y" : 1112.0
          },
          "properties" : {
            "Store State" : "Do not store state",
            "canonical-value-lookup-cache-size" : "100"
          },
          "propertyDescriptors" : {
            "Delete Attributes Expression" : {
              "displayName" : "Delete Attributes Expression",
              "identifiesControllerService" : false,
              "name" : "Delete Attributes Expression",
              "sensitive" : false
            },
            "Store State" : {
              "displayName" : "Store State",
              "identifiesControllerService" : false,
              "name" : "Store State",
              "sensitive" : false
            },
            "canonical-value-lookup-cache-size" : {
              "displayName" : "Cache Value Lookup Cache Size",
              "identifiesControllerService" : false,
              "name" : "canonical-value-lookup-cache-size",
              "sensitive" : false
            },
            "Stateful Variables Initial Value" : {
              "displayName" : "Stateful Variables Initial Value",
              "identifiesControllerService" : false,
              "name" : "Stateful Variables Initial Value",
              "sensitive" : false
            }
          },
          "retriedRelationships" : [ ],
          "retryCount" : 10,
          "runDurationMillis" : 25,
          "scheduledState" : "ENABLED",
          "schedulingPeriod" : "0 sec",
          "schedulingStrategy" : "TIMER_DRIVEN",
          "style" : { },
          "type" : "org.apache.nifi.processors.attributes.UpdateAttribute",
          "yieldDuration" : "1 sec"
        }, {
          "autoTerminatedRelationships" : [ ],
          "backoffMechanism" : "PENALIZE_FLOWFILE",
          "bulletinLevel" : "WARN",
          "bundle" : {
            "artifact" : "nifi-hadoop-nar",
            "group" : "org.apache.nifi",
            "version" : "1.28.0"
          },
          "comments" : "",
          "componentType" : "PROCESSOR",
          "concurrentlySchedulableTaskCount" : 1,
          "executionNode" : "ALL",
          "groupIdentifier" : "bc3f74bb-8ac4-3f8d-b141-0030d33364da",
          "identifier" : "ab9d4371-4281-3174-ac1a-fd655ee80cf3",
          "instanceIdentifier" : "bf3d4a42-5d43-3bd3-8042-e98cd0e1d7ee",
          "maxBackoffPeriod" : "10 mins",
          "name" : "PutHDFS",
          "penaltyDuration" : "30 sec",
          "position" : {
            "x" : 336.0,
            "y" : 528.0
          },
          "properties" : {
            "Hadoop Configuration Resources" : "/opt/nifi/nifi-current/conf/hadoop-conf/core-site.xml,/opt/nifi/nifi-current/conf/hadoop-conf/hdfs-site.xml",
            "Compression codec" : "NONE",
            "Ignore Locality" : "false",
            "Append Mode" : "DEFAULT",
            "writing-strategy" : "writeAndRename",
            "Kerberos Relogin Period" : "4 hours",
            "Directory" : "/bronze/raw/",
            "Conflict Resolution Strategy" : "replace"
          },
          "propertyDescriptors" : {
            "Permissions umask" : {
              "displayName" : "Permissions umask",
              "identifiesControllerService" : false,
              "name" : "Permissions umask",
              "sensitive" : false
            },
            "Hadoop Configuration Resources" : {
              "displayName" : "Hadoop Configuration Resources",
              "identifiesControllerService" : false,
              "name" : "Hadoop Configuration Resources",
              "resourceDefinition" : {
                "cardinality" : "MULTIPLE",
                "resourceTypes" : [ "FILE" ]
              },
              "sensitive" : false
            },
            "Remote Owner" : {
              "displayName" : "Remote Owner",
              "identifiesControllerService" : false,
              "name" : "Remote Owner",
              "sensitive" : false
            },
            "Additional Classpath Resources" : {
              "displayName" : "Additional Classpath Resources",
              "identifiesControllerService" : false,
              "name" : "Additional Classpath Resources",
              "resourceDefinition" : {
                "cardinality" : "MULTIPLE",
                "resourceTypes" : [ "DIRECTORY", "FILE" ]
              },
              "sensitive" : false
            },
            "Compression codec" : {
              "displayName" : "Compression codec",
              "identifiesControllerService" : false,
              "name" : "Compression codec",
              "sensitive" : false
            },
            "IO Buffer Size" : {
              "displayName" : "IO Buffer Size",
              "identifiesControllerService" : false,
              "name" : "IO Buffer Size",
              "sensitive" : false
            },
            "Remote Group" : {
              "displayName" : "Remote Group",
              "identifiesControllerService" : false,
              "name" : "Remote Group",
              "sensitive" : false
            },
            "Block Size" : {
              "displayName" : "Block Size",
              "identifiesControllerService" : false,
              "name" : "Block Size",
              "sensitive" : false
            },
            "kerberos-credentials-service" : {
              "displayName" : "Kerberos Credentials Service",
              "identifiesControllerService" : true,
              "name" : "kerberos-credentials-service",
              "sensitive" : false
            },
            "Kerberos Password" : {
              "displayName" : "Kerberos Password",
              "identifiesControllerService" : false,
              "name" : "Kerberos Password",
              "sensitive" : true
            },
            "Kerberos Keytab" : {
              "displayName" : "Kerberos Keytab",
              "identifiesControllerService" : false,
              "name" : "Kerberos Keytab",
              "resourceDefinition" : {
                "cardinality" : "SINGLE",
                "resourceTypes" : [ "FILE" ]
              },
              "sensitive" : false
            },
            "Ignore Locality" : {
              "displayName" : "Ignore Locality",
              "identifiesControllerService" : false,
              "name" : "Ignore Locality",
              "sensitive" : false
            },
            "Kerberos Principal" : {
              "displayName" : "Kerberos Principal",
              "identifiesControllerService" : false,
              "name" : "Kerberos Principal",
              "sensitive" : false
            },
            "Replication" : {
              "displayName" : "Replication",
              "identifiesControllerService" : false,
              "name" : "Replication",
              "sensitive" : false
            },
            "kerberos-user-service" : {
              "displayName" : "Kerberos User Service",
              "identifiesControllerService" : true,
              "name" : "kerberos-user-service",
              "sensitive" : false
            },
            "Append Mode" : {
              "displayName" : "Append Mode",
              "identifiesControllerService" : false,
              "name" : "Append Mode",
              "sensitive" : false
            },
            "writing-strategy" : {
              "displayName" : "Writing Strategy",
              "identifiesControllerService" : false,
              "name" : "writing-strategy",
              "sensitive" : false
            },
            "Kerberos Relogin Period" : {
              "displayName" : "Kerberos Relogin Period",
              "identifiesControllerService" : false,
              "name" : "Kerberos Relogin Period",
              "sensitive" : false
            },
            "Directory" : {
              "displayName" : "Directory",
              "identifiesControllerService" : false,
              "name" : "Directory",
              "sensitive" : false
            },
            "Conflict Resolution Strategy" : {
              "displayName" : "Conflict Resolution Strategy",
              "identifiesControllerService" : false,
              "name" : "Conflict Resolution Strategy",
              "sensitive" : false
            }
          },
          "retriedRelationships" : [ ],
          "retryCount" : 10,
          "runDurationMillis" : 0,
          "scheduledState" : "ENABLED",
          "schedulingPeriod" : "0 sec",
          "schedulingStrategy" : "TIMER_DRIVEN",
          "style" : { },
          "type" : "org.apache.nifi.processors.hadoop.PutHDFS",
          "yieldDuration" : "1 sec"
        }, {
          "autoTerminatedRelationships" : [ ],
          "backoffMechanism" : "PENALIZE_FLOWFILE",
          "bulletinLevel" : "WARN",
          "bundle" : {
            "artifact" : "nifi-standard-nar",
            "group" : "org.apache.nifi",
            "version" : "1.28.0"
          },
          "comments" : "",
          "componentType" : "PROCESSOR",
          "concurrentlySchedulableTaskCount" : 1,
          "executionNode" : "ALL",
          "groupIdentifier" : "bc3f74bb-8ac4-3f8d-b141-0030d33364da",
          "identifier" : "09c21bb8-2643-310a-b664-59912d29a506",
          "instanceIdentifier" : "77ff83aa-32a1-3400-38d9-03a8fbda838b",
          "maxBackoffPeriod" : "10 mins",
          "name" : "LogMessage",
          "penaltyDuration" : "30 sec",
          "position" : {
            "x" : 872.0,
            "y" : 520.0
          },
          "properties" : {
            "log-level" : "info"
          },
          "propertyDescriptors" : {
            "log-message" : {
              "displayName" : "Log message",
              "identifiesControllerService" : false,
              "name" : "log-message",
              "sensitive" : false
            },
            "log-level" : {
              "displayName" : "Log Level",
              "identifiesControllerService" : false,
              "name" : "log-level",
              "sensitive" : false
            },
            "log-prefix" : {
              "displayName" : "Log prefix",
              "identifiesControllerService" : false,
              "name" : "log-prefix",
              "sensitive" : false
            }
          },
          "retriedRelationships" : [ ],
          "retryCount" : 10,
          "runDurationMillis" : 25,
          "scheduledState" : "ENABLED",
          "schedulingPeriod" : "0 sec",
          "schedulingStrategy" : "TIMER_DRIVEN",
          "style" : { },
          "type" : "org.apache.nifi.processors.standard.LogMessage",
          "yieldDuration" : "1 sec"
        }, {
          "autoTerminatedRelationships" : [ ],
          "backoffMechanism" : "PENALIZE_FLOWFILE",
          "bulletinLevel" : "WARN",
          "bundle" : {
            "artifact" : "nifi-standard-nar",
            "group" : "org.apache.nifi",
            "version" : "1.28.0"
          },
          "comments" : "",
          "componentType" : "PROCESSOR",
          "concurrentlySchedulableTaskCount" : 1,
          "executionNode" : "ALL",
          "groupIdentifier" : "bc3f74bb-8ac4-3f8d-b141-0030d33364da",
          "identifier" : "b9d2cea4-3da2-37b4-8e83-a47d0d0f5daa",
          "instanceIdentifier" : "740eb6e3-ffda-31da-3220-4d5b176b65f0",
          "maxBackoffPeriod" : "10 mins",
          "name" : "LogMessage",
          "penaltyDuration" : "30 sec",
          "position" : {
            "x" : 1752.0,
            "y" : -152.0
          },
          "properties" : {
            "log-level" : "info"
          },
          "propertyDescriptors" : {
            "log-message" : {
              "displayName" : "Log message",
              "identifiesControllerService" : false,
              "name" : "log-message",
              "sensitive" : false
            },
            "log-level" : {
              "displayName" : "Log Level",
              "identifiesControllerService" : false,
              "name" : "log-level",
              "sensitive" : false
            },
            "log-prefix" : {
              "displayName" : "Log prefix",
              "identifiesControllerService" : false,
              "name" : "log-prefix",
              "sensitive" : false
            }
          },
          "retriedRelationships" : [ ],
          "retryCount" : 10,
          "runDurationMillis" : 25,
          "scheduledState" : "ENABLED",
          "schedulingPeriod" : "0 sec",
          "schedulingStrategy" : "TIMER_DRIVEN",
          "style" : { },
          "type" : "org.apache.nifi.processors.standard.LogMessage",
          "yieldDuration" : "1 sec"
        }, {
          "autoTerminatedRelationships" : [ ],
          "backoffMechanism" : "PENALIZE_FLOWFILE",
          "bulletinLevel" : "WARN",
          "bundle" : {
            "artifact" : "nifi-standard-nar",
            "group" : "org.apache.nifi",
            "version" : "1.28.0"
          },
          "comments" : "",
          "componentType" : "PROCESSOR",
          "concurrentlySchedulableTaskCount" : 1,
          "executionNode" : "ALL",
          "groupIdentifier" : "bc3f74bb-8ac4-3f8d-b141-0030d33364da",
          "identifier" : "982804c2-3971-3ba4-9889-f5698114d54d",
          "instanceIdentifier" : "32a1343b-83aa-17ff-b6f8-60e7f84c7d98",
          "maxBackoffPeriod" : "10 mins",
          "name" : "LogMessage",
          "penaltyDuration" : "30 sec",
          "position" : {
            "x" : 888.0,
            "y" : 0.0
          },
          "properties" : {
            "log-level" : "info"
          },
          "propertyDescriptors" : {
            "log-message" : {
              "displayName" : "Log message",
              "identifiesControllerService" : false,
              "name" : "log-message",
              "sensitive" : false
            },
            "log-level" : {
              "displayName" : "Log Level",
              "identifiesControllerService" : false,
              "name" : "log-level",
              "sensitive" : false
            },
            "log-prefix" : {
              "displayName" : "Log prefix",
              "identifiesControllerService" : false,
              "name" : "log-prefix",
              "sensitive" : false
            }
          },
          "retriedRelationships" : [ ],
          "retryCount" : 10,
          "runDurationMillis" : 25,
          "scheduledState" : "ENABLED",
          "schedulingPeriod" : "0 sec",
          "schedulingStrategy" : "TIMER_DRIVEN",
          "style" : { },
          "type" : "org.apache.nifi.processors.standard.LogMessage",
          "yieldDuration" : "1 sec"
        }, {
          "autoTerminatedRelationships" : [ ],
          "backoffMechanism" : "PENALIZE_FLOWFILE",
          "bulletinLevel" : "WARN",
          "bundle" : {
            "artifact" : "nifi-standard-nar",
            "group" : "org.apache.nifi",
            "version" : "1.28.0"
          },
          "comments" : "",
          "componentType" : "PROCESSOR",
          "concurrentlySchedulableTaskCount" : 1,
          "executionNode" : "ALL",
          "groupIdentifier" : "bc3f74bb-8ac4-3f8d-b141-0030d33364da",
          "identifier" : "83177b89-88b5-3355-a49e-c323ba43529b",
          "instanceIdentifier" : "5213e3ec-1f9f-339b-eb16-128134ece59a",
          "maxBackoffPeriod" : "10 mins",
          "name" : "LogMessage",
          "penaltyDuration" : "30 sec",
          "position" : {
            "x" : 1808.0,
            "y" : 520.0
          },
          "properties" : {
            "log-level" : "info"
          },
          "propertyDescriptors" : {
            "log-message" : {
              "displayName" : "Log message",
              "identifiesControllerService" : false,
              "name" : "log-message",
              "sensitive" : false
            },
            "log-level" : {
              "displayName" : "Log Level",
              "identifiesControllerService" : false,
              "name" : "log-level",
              "sensitive" : false
            },
            "log-prefix" : {
              "displayName" : "Log prefix",
              "identifiesControllerService" : false,
              "name" : "log-prefix",
              "sensitive" : false
            }
          },
          "retriedRelationships" : [ ],
          "retryCount" : 10,
          "runDurationMillis" : 25,
          "scheduledState" : "ENABLED",
          "schedulingPeriod" : "0 sec",
          "schedulingStrategy" : "TIMER_DRIVEN",
          "style" : { },
          "type" : "org.apache.nifi.processors.standard.LogMessage",
          "yieldDuration" : "1 sec"
        }, {
          "autoTerminatedRelationships" : [ ],
          "backoffMechanism" : "PENALIZE_FLOWFILE",
          "bulletinLevel" : "WARN",
          "bundle" : {
            "artifact" : "nifi-standard-nar",
            "group" : "org.apache.nifi",
            "version" : "1.28.0"
          },
          "comments" : "",
          "componentType" : "PROCESSOR",
          "concurrentlySchedulableTaskCount" : 1,
          "executionNode" : "ALL",
          "groupIdentifier" : "bc3f74bb-8ac4-3f8d-b141-0030d33364da",
          "identifier" : "2fb34c85-2cbc-3415-9207-f162e42bb09b",
          "instanceIdentifier" : "b6356ddd-d510-3754-ea47-33ccd1f51269",
          "maxBackoffPeriod" : "10 mins",
          "name" : "LogMessage",
          "penaltyDuration" : "30 sec",
          "position" : {
            "x" : 1800.0,
            "y" : 328.0
          },
          "properties" : {
            "log-level" : "info"
          },
          "propertyDescriptors" : {
            "log-message" : {
              "displayName" : "Log message",
              "identifiesControllerService" : false,
              "name" : "log-message",
              "sensitive" : false
            },
            "log-level" : {
              "displayName" : "Log Level",
              "identifiesControllerService" : false,
              "name" : "log-level",
              "sensitive" : false
            },
            "log-prefix" : {
              "displayName" : "Log prefix",
              "identifiesControllerService" : false,
              "name" : "log-prefix",
              "sensitive" : false
            }
          },
          "retriedRelationships" : [ ],
          "retryCount" : 10,
          "runDurationMillis" : 25,
          "scheduledState" : "ENABLED",
          "schedulingPeriod" : "0 sec",
          "schedulingStrategy" : "TIMER_DRIVEN",
          "style" : { },
          "type" : "org.apache.nifi.processors.standard.LogMessage",
          "yieldDuration" : "1 sec"
        }, {
          "autoTerminatedRelationships" : [ ],
          "backoffMechanism" : "PENALIZE_FLOWFILE",
          "bulletinLevel" : "WARN",
          "bundle" : {
            "artifact" : "nifi-hadoop-nar",
            "group" : "org.apache.nifi",
            "version" : "1.28.0"
          },
          "comments" : "",
          "componentType" : "PROCESSOR",
          "concurrentlySchedulableTaskCount" : 1,
          "executionNode" : "ALL",
          "groupIdentifier" : "bc3f74bb-8ac4-3f8d-b141-0030d33364da",
          "identifier" : "657b9d57-5889-332e-afb3-2e4e0c12a628",
          "instanceIdentifier" : "5bb15558-80bc-32de-1958-98a0e42cce3e",
          "maxBackoffPeriod" : "10 mins",
          "name" : "PutHDFS",
          "penaltyDuration" : "30 sec",
          "position" : {
            "x" : 1312.0,
            "y" : 520.0
          },
          "properties" : {
            "Hadoop Configuration Resources" : "/opt/nifi/nifi-current/conf/hadoop-conf/core-site.xml,/opt/nifi/nifi-current/conf/hadoop-conf/hdfs-site.xml",
            "Compression codec" : "NONE",
            "Ignore Locality" : "false",
            "Append Mode" : "DEFAULT",
            "writing-strategy" : "writeAndRename",
            "Kerberos Relogin Period" : "4 hours",
            "Directory" : "/bronze/raw/",
            "Conflict Resolution Strategy" : "replace"
          },
          "propertyDescriptors" : {
            "Permissions umask" : {
              "displayName" : "Permissions umask",
              "identifiesControllerService" : false,
              "name" : "Permissions umask",
              "sensitive" : false
            },
            "Hadoop Configuration Resources" : {
              "displayName" : "Hadoop Configuration Resources",
              "identifiesControllerService" : false,
              "name" : "Hadoop Configuration Resources",
              "resourceDefinition" : {
                "cardinality" : "MULTIPLE",
                "resourceTypes" : [ "FILE" ]
              },
              "sensitive" : false
            },
            "Remote Owner" : {
              "displayName" : "Remote Owner",
              "identifiesControllerService" : false,
              "name" : "Remote Owner",
              "sensitive" : false
            },
            "Additional Classpath Resources" : {
              "displayName" : "Additional Classpath Resources",
              "identifiesControllerService" : false,
              "name" : "Additional Classpath Resources",
              "resourceDefinition" : {
                "cardinality" : "MULTIPLE",
                "resourceTypes" : [ "DIRECTORY", "FILE" ]
              },
              "sensitive" : false
            },
            "Compression codec" : {
              "displayName" : "Compression codec",
              "identifiesControllerService" : false,
              "name" : "Compression codec",
              "sensitive" : false
            },
            "IO Buffer Size" : {
              "displayName" : "IO Buffer Size",
              "identifiesControllerService" : false,
              "name" : "IO Buffer Size",
              "sensitive" : false
            },
            "Remote Group" : {
              "displayName" : "Remote Group",
              "identifiesControllerService" : false,
              "name" : "Remote Group",
              "sensitive" : false
            },
            "Block Size" : {
              "displayName" : "Block Size",
              "identifiesControllerService" : false,
              "name" : "Block Size",
              "sensitive" : false
            },
            "kerberos-credentials-service" : {
              "displayName" : "Kerberos Credentials Service",
              "identifiesControllerService" : true,
              "name" : "kerberos-credentials-service",
              "sensitive" : false
            },
            "Kerberos Password" : {
              "displayName" : "Kerberos Password",
              "identifiesControllerService" : false,
              "name" : "Kerberos Password",
              "sensitive" : true
            },
            "Kerberos Keytab" : {
              "displayName" : "Kerberos Keytab",
              "identifiesControllerService" : false,
              "name" : "Kerberos Keytab",
              "resourceDefinition" : {
                "cardinality" : "SINGLE",
                "resourceTypes" : [ "FILE" ]
              },
              "sensitive" : false
            },
            "Ignore Locality" : {
              "displayName" : "Ignore Locality",
              "identifiesControllerService" : false,
              "name" : "Ignore Locality",
              "sensitive" : false
            },
            "Kerberos Principal" : {
              "displayName" : "Kerberos Principal",
              "identifiesControllerService" : false,
              "name" : "Kerberos Principal",
              "sensitive" : false
            },
            "Replication" : {
              "displayName" : "Replication",
              "identifiesControllerService" : false,
              "name" : "Replication",
              "sensitive" : false
            },
            "kerberos-user-service" : {
              "displayName" : "Kerberos User Service",
              "identifiesControllerService" : true,
              "name" : "kerberos-user-service",
              "sensitive" : false
            },
            "Append Mode" : {
              "displayName" : "Append Mode",
              "identifiesControllerService" : false,
              "name" : "Append Mode",
              "sensitive" : false
            },
            "writing-strategy" : {
              "displayName" : "Writing Strategy",
              "identifiesControllerService" : false,
              "name" : "writing-strategy",
              "sensitive" : false
            },
            "Kerberos Relogin Period" : {
              "displayName" : "Kerberos Relogin Period",
              "identifiesControllerService" : false,
              "name" : "Kerberos Relogin Period",
              "sensitive" : false
            },
            "Directory" : {
              "displayName" : "Directory",
              "identifiesControllerService" : false,
              "name" : "Directory",
              "sensitive" : false
            },
            "Conflict Resolution Strategy" : {
              "displayName" : "Conflict Resolution Strategy",
              "identifiesControllerService" : false,
              "name" : "Conflict Resolution Strategy",
              "sensitive" : false
            }
          },
          "retriedRelationships" : [ ],
          "retryCount" : 10,
          "runDurationMillis" : 0,
          "scheduledState" : "ENABLED",
          "schedulingPeriod" : "0 sec",
          "schedulingStrategy" : "TIMER_DRIVEN",
          "style" : { },
          "type" : "org.apache.nifi.processors.hadoop.PutHDFS",
          "yieldDuration" : "1 sec"
        }, {
          "autoTerminatedRelationships" : [ ],
          "backoffMechanism" : "PENALIZE_FLOWFILE",
          "bulletinLevel" : "WARN",
          "bundle" : {
            "artifact" : "nifi-standard-nar",
            "group" : "org.apache.nifi",
            "version" : "1.28.0"
          },
          "comments" : "",
          "componentType" : "PROCESSOR",
          "concurrentlySchedulableTaskCount" : 1,
          "executionNode" : "ALL",
          "groupIdentifier" : "bc3f74bb-8ac4-3f8d-b141-0030d33364da",
          "identifier" : "d748fef5-3475-311d-8fae-e1b2e08b12e1",
          "instanceIdentifier" : "1418ae30-073e-3035-54b3-bcc22a50cfc8",
          "maxBackoffPeriod" : "10 mins",
          "name" : "ConvertRecord",
          "penaltyDuration" : "30 sec",
          "position" : {
            "x" : 1312.0,
            "y" : 344.0
          },
          "properties" : {
            "record-writer" : "36700366-9018-3045-bb0c-d3c9657c0cec",
            "record-reader" : "a9b9fac7-2e26-3137-af85-c319c1260a09",
            "include-zero-record-flowfiles" : "true"
          },
          "propertyDescriptors" : {
            "record-writer" : {
              "displayName" : "Record Writer",
              "identifiesControllerService" : true,
              "name" : "record-writer",
              "sensitive" : false
            },
            "record-reader" : {
              "displayName" : "Record Reader",
              "identifiesControllerService" : true,
              "name" : "record-reader",
              "sensitive" : false
            },
            "include-zero-record-flowfiles" : {
              "displayName" : "Include Zero Record FlowFiles",
              "identifiesControllerService" : false,
              "name" : "include-zero-record-flowfiles",
              "sensitive" : false
            }
          },
          "retriedRelationships" : [ ],
          "retryCount" : 10,
          "runDurationMillis" : 0,
          "scheduledState" : "ENABLED",
          "schedulingPeriod" : "0 sec",
          "schedulingStrategy" : "TIMER_DRIVEN",
          "style" : { },
          "type" : "org.apache.nifi.processors.standard.ConvertRecord",
          "yieldDuration" : "1 sec"
        }, {
          "autoTerminatedRelationships" : [ ],
          "backoffMechanism" : "PENALIZE_FLOWFILE",
          "bulletinLevel" : "WARN",
          "bundle" : {
            "artifact" : "nifi-standard-nar",
            "group" : "org.apache.nifi",
            "version" : "1.28.0"
          },
          "comments" : "",
          "componentType" : "PROCESSOR",
          "concurrentlySchedulableTaskCount" : 1,
          "executionNode" : "ALL",
          "groupIdentifier" : "bc3f74bb-8ac4-3f8d-b141-0030d33364da",
          "identifier" : "ef0ba8d8-e92e-3274-baa1-7b332901eb5d",
          "instanceIdentifier" : "32a13416-83aa-17ff-a108-0bf306c9163b",
          "maxBackoffPeriod" : "10 mins",
          "name" : "LogMessage",
          "penaltyDuration" : "30 sec",
          "position" : {
            "x" : 3704.0,
            "y" : -144.0
          },
          "properties" : {
            "log-level" : "info"
          },
          "propertyDescriptors" : {
            "log-message" : {
              "displayName" : "Log message",
              "identifiesControllerService" : false,
              "name" : "log-message",
              "sensitive" : false
            },
            "log-level" : {
              "displayName" : "Log Level",
              "identifiesControllerService" : false,
              "name" : "log-level",
              "sensitive" : false
            },
            "log-prefix" : {
              "displayName" : "Log prefix",
              "identifiesControllerService" : false,
              "name" : "log-prefix",
              "sensitive" : false
            }
          },
          "retriedRelationships" : [ ],
          "retryCount" : 10,
          "runDurationMillis" : 25,
          "scheduledState" : "ENABLED",
          "schedulingPeriod" : "0 sec",
          "schedulingStrategy" : "TIMER_DRIVEN",
          "style" : { },
          "type" : "org.apache.nifi.processors.standard.LogMessage",
          "yieldDuration" : "1 sec"
        }, {
          "autoTerminatedRelationships" : [ ],
          "backoffMechanism" : "PENALIZE_FLOWFILE",
          "bulletinLevel" : "WARN",
          "bundle" : {
            "artifact" : "nifi-standard-nar",
            "group" : "org.apache.nifi",
            "version" : "1.28.0"
          },
          "comments" : "",
          "componentType" : "PROCESSOR",
          "concurrentlySchedulableTaskCount" : 1,
          "executionNode" : "ALL",
          "groupIdentifier" : "bc3f74bb-8ac4-3f8d-b141-0030d33364da",
          "identifier" : "91c32bd3-8f5e-3b0e-9126-6d5f192cb897",
          "instanceIdentifier" : "32a13414-83aa-17ff-94bf-4395ded828bb",
          "maxBackoffPeriod" : "10 mins",
          "name" : "LogMessage",
          "penaltyDuration" : "30 sec",
          "position" : {
            "x" : 3232.0,
            "y" : 720.0
          },
          "properties" : {
            "log-level" : "info"
          },
          "propertyDescriptors" : {
            "log-message" : {
              "displayName" : "Log message",
              "identifiesControllerService" : false,
              "name" : "log-message",
              "sensitive" : false
            },
            "log-level" : {
              "displayName" : "Log Level",
              "identifiesControllerService" : false,
              "name" : "log-level",
              "sensitive" : false
            },
            "log-prefix" : {
              "displayName" : "Log prefix",
              "identifiesControllerService" : false,
              "name" : "log-prefix",
              "sensitive" : false
            }
          },
          "retriedRelationships" : [ ],
          "retryCount" : 10,
          "runDurationMillis" : 25,
          "scheduledState" : "ENABLED",
          "schedulingPeriod" : "0 sec",
          "schedulingStrategy" : "TIMER_DRIVEN",
          "style" : { },
          "type" : "org.apache.nifi.processors.standard.LogMessage",
          "yieldDuration" : "1 sec"
        }, {
          "autoTerminatedRelationships" : [ ],
          "backoffMechanism" : "PENALIZE_FLOWFILE",
          "bulletinLevel" : "WARN",
          "bundle" : {
            "artifact" : "nifi-standard-nar",
            "group" : "org.apache.nifi",
            "version" : "1.28.0"
          },
          "comments" : "",
          "componentType" : "PROCESSOR",
          "concurrentlySchedulableTaskCount" : 1,
          "executionNode" : "ALL",
          "groupIdentifier" : "bc3f74bb-8ac4-3f8d-b141-0030d33364da",
          "identifier" : "34921a09-66f5-3336-8302-2d69e271ce20",
          "instanceIdentifier" : "15caae49-be81-311a-7019-63fcc133bcf5",
          "maxBackoffPeriod" : "10 mins",
          "name" : "LogMessage",
          "penaltyDuration" : "30 sec",
          "position" : {
            "x" : 1312.0,
            "y" : 728.0
          },
          "properties" : {
            "log-level" : "info"
          },
          "propertyDescriptors" : {
            "log-message" : {
              "displayName" : "Log message",
              "identifiesControllerService" : false,
              "name" : "log-message",
              "sensitive" : false
            },
            "log-level" : {
              "displayName" : "Log Level",
              "identifiesControllerService" : false,
              "name" : "log-level",
              "sensitive" : false
            },
            "log-prefix" : {
              "displayName" : "Log prefix",
              "identifiesControllerService" : false,
              "name" : "log-prefix",
              "sensitive" : false
            }
          },
          "retriedRelationships" : [ ],
          "retryCount" : 10,
          "runDurationMillis" : 25,
          "scheduledState" : "ENABLED",
          "schedulingPeriod" : "0 sec",
          "schedulingStrategy" : "TIMER_DRIVEN",
          "style" : { },
          "type" : "org.apache.nifi.processors.standard.LogMessage",
          "yieldDuration" : "1 sec"
        }, {
          "autoTerminatedRelationships" : [ ],
          "backoffMechanism" : "PENALIZE_FLOWFILE",
          "bulletinLevel" : "WARN",
          "bundle" : {
            "artifact" : "nifi-standard-nar",
            "group" : "org.apache.nifi",
            "version" : "1.28.0"
          },
          "comments" : "",
          "componentType" : "PROCESSOR",
          "concurrentlySchedulableTaskCount" : 1,
          "executionNode" : "ALL",
          "groupIdentifier" : "bc3f74bb-8ac4-3f8d-b141-0030d33364da",
          "identifier" : "bc0aa004-702b-3675-a5a4-65e7f1b87ce3",
          "instanceIdentifier" : "06983625-0c45-1d10-0584-502ff6da64ce",
          "maxBackoffPeriod" : "10 mins",
          "name" : "ConvertRecord",
          "penaltyDuration" : "30 sec",
          "position" : {
            "x" : 2296.0,
            "y" : 344.0
          },
          "properties" : {
            "record-writer" : "36700366-9018-3045-bb0c-d3c9657c0cec",
            "record-reader" : "a9b9fac7-2e26-3137-af85-c319c1260a09",
            "include-zero-record-flowfiles" : "true"
          },
          "propertyDescriptors" : {
            "record-writer" : {
              "displayName" : "Record Writer",
              "identifiesControllerService" : true,
              "name" : "record-writer",
              "sensitive" : false
            },
            "record-reader" : {
              "displayName" : "Record Reader",
              "identifiesControllerService" : true,
              "name" : "record-reader",
              "sensitive" : false
            },
            "include-zero-record-flowfiles" : {
              "displayName" : "Include Zero Record FlowFiles",
              "identifiesControllerService" : false,
              "name" : "include-zero-record-flowfiles",
              "sensitive" : false
            }
          },
          "retriedRelationships" : [ ],
          "retryCount" : 10,
          "runDurationMillis" : 0,
          "scheduledState" : "ENABLED",
          "schedulingPeriod" : "0 sec",
          "schedulingStrategy" : "TIMER_DRIVEN",
          "style" : { },
          "type" : "org.apache.nifi.processors.standard.ConvertRecord",
          "yieldDuration" : "1 sec"
        }, {
          "autoTerminatedRelationships" : [ ],
          "backoffMechanism" : "PENALIZE_FLOWFILE",
          "bulletinLevel" : "WARN",
          "bundle" : {
            "artifact" : "nifi-hadoop-nar",
            "group" : "org.apache.nifi",
            "version" : "1.28.0"
          },
          "comments" : "",
          "componentType" : "PROCESSOR",
          "concurrentlySchedulableTaskCount" : 1,
          "executionNode" : "ALL",
          "groupIdentifier" : "bc3f74bb-8ac4-3f8d-b141-0030d33364da",
          "identifier" : "f83a9ec8-3f9a-34a8-9308-6cf8599ec34a",
          "instanceIdentifier" : "32a13412-83aa-17ff-21e5-4693ad7233f6",
          "maxBackoffPeriod" : "10 mins",
          "name" : "PutHDFS",
          "penaltyDuration" : "30 sec",
          "position" : {
            "x" : 3232.0,
            "y" : 520.0
          },
          "properties" : {
            "Hadoop Configuration Resources" : "/opt/nifi/nifi-current/conf/hadoop-conf/core-site.xml,/opt/nifi/nifi-current/conf/hadoop-conf/hdfs-site.xml",
            "Compression codec" : "NONE",
            "Ignore Locality" : "false",
            "Append Mode" : "DEFAULT",
            "writing-strategy" : "writeAndRename",
            "Kerberos Relogin Period" : "4 hours",
            "Directory" : "/bronze/raw/",
            "Conflict Resolution Strategy" : "replace"
          },
          "propertyDescriptors" : {
            "Permissions umask" : {
              "displayName" : "Permissions umask",
              "identifiesControllerService" : false,
              "name" : "Permissions umask",
              "sensitive" : false
            },
            "Hadoop Configuration Resources" : {
              "displayName" : "Hadoop Configuration Resources",
              "identifiesControllerService" : false,
              "name" : "Hadoop Configuration Resources",
              "resourceDefinition" : {
                "cardinality" : "MULTIPLE",
                "resourceTypes" : [ "FILE" ]
              },
              "sensitive" : false
            },
            "Remote Owner" : {
              "displayName" : "Remote Owner",
              "identifiesControllerService" : false,
              "name" : "Remote Owner",
              "sensitive" : false
            },
            "Additional Classpath Resources" : {
              "displayName" : "Additional Classpath Resources",
              "identifiesControllerService" : false,
              "name" : "Additional Classpath Resources",
              "resourceDefinition" : {
                "cardinality" : "MULTIPLE",
                "resourceTypes" : [ "DIRECTORY", "FILE" ]
              },
              "sensitive" : false
            },
            "Compression codec" : {
              "displayName" : "Compression codec",
              "identifiesControllerService" : false,
              "name" : "Compression codec",
              "sensitive" : false
            },
            "IO Buffer Size" : {
              "displayName" : "IO Buffer Size",
              "identifiesControllerService" : false,
              "name" : "IO Buffer Size",
              "sensitive" : false
            },
            "Remote Group" : {
              "displayName" : "Remote Group",
              "identifiesControllerService" : false,
              "name" : "Remote Group",
              "sensitive" : false
            },
            "Block Size" : {
              "displayName" : "Block Size",
              "identifiesControllerService" : false,
              "name" : "Block Size",
              "sensitive" : false
            },
            "kerberos-credentials-service" : {
              "displayName" : "Kerberos Credentials Service",
              "identifiesControllerService" : true,
              "name" : "kerberos-credentials-service",
              "sensitive" : false
            },
            "Kerberos Password" : {
              "displayName" : "Kerberos Password",
              "identifiesControllerService" : false,
              "name" : "Kerberos Password",
              "sensitive" : true
            },
            "Kerberos Keytab" : {
              "displayName" : "Kerberos Keytab",
              "identifiesControllerService" : false,
              "name" : "Kerberos Keytab",
              "resourceDefinition" : {
                "cardinality" : "SINGLE",
                "resourceTypes" : [ "FILE" ]
              },
              "sensitive" : false
            },
            "Ignore Locality" : {
              "displayName" : "Ignore Locality",
              "identifiesControllerService" : false,
              "name" : "Ignore Locality",
              "sensitive" : false
            },
            "Kerberos Principal" : {
              "displayName" : "Kerberos Principal",
              "identifiesControllerService" : false,
              "name" : "Kerberos Principal",
              "sensitive" : false
            },
            "Replication" : {
              "displayName" : "Replication",
              "identifiesControllerService" : false,
              "name" : "Replication",
              "sensitive" : false
            },
            "kerberos-user-service" : {
              "displayName" : "Kerberos User Service",
              "identifiesControllerService" : true,
              "name" : "kerberos-user-service",
              "sensitive" : false
            },
            "Append Mode" : {
              "displayName" : "Append Mode",
              "identifiesControllerService" : false,
              "name" : "Append Mode",
              "sensitive" : false
            },
            "writing-strategy" : {
              "displayName" : "Writing Strategy",
              "identifiesControllerService" : false,
              "name" : "writing-strategy",
              "sensitive" : false
            },
            "Kerberos Relogin Period" : {
              "displayName" : "Kerberos Relogin Period",
              "identifiesControllerService" : false,
              "name" : "Kerberos Relogin Period",
              "sensitive" : false
            },
            "Directory" : {
              "displayName" : "Directory",
              "identifiesControllerService" : false,
              "name" : "Directory",
              "sensitive" : false
            },
            "Conflict Resolution Strategy" : {
              "displayName" : "Conflict Resolution Strategy",
              "identifiesControllerService" : false,
              "name" : "Conflict Resolution Strategy",
              "sensitive" : false
            }
          },
          "retriedRelationships" : [ ],
          "retryCount" : 10,
          "runDurationMillis" : 0,
          "scheduledState" : "ENABLED",
          "schedulingPeriod" : "0 sec",
          "schedulingStrategy" : "TIMER_DRIVEN",
          "style" : { },
          "type" : "org.apache.nifi.processors.hadoop.PutHDFS",
          "yieldDuration" : "1 sec"
        }, {
          "autoTerminatedRelationships" : [ ],
          "backoffMechanism" : "PENALIZE_FLOWFILE",
          "bulletinLevel" : "WARN",
          "bundle" : {
            "artifact" : "nifi-standard-nar",
            "group" : "org.apache.nifi",
            "version" : "1.28.0"
          },
          "comments" : "",
          "componentType" : "PROCESSOR",
          "concurrentlySchedulableTaskCount" : 1,
          "executionNode" : "ALL",
          "groupIdentifier" : "bc3f74bb-8ac4-3f8d-b141-0030d33364da",
          "identifier" : "88194219-39ac-3680-b1ed-c36652170635",
          "instanceIdentifier" : "32a1342c-83aa-17ff-4e21-12524e889f36",
          "maxBackoffPeriod" : "10 mins",
          "name" : "EvaluateJsonPath",
          "penaltyDuration" : "30 sec",
          "position" : {
            "x" : 2288.0,
            "y" : 952.0
          },
          "properties" : {
            "Destination" : "flowfile-attribute",
            "Max String Length" : "20 MB",
            "Return Type" : "auto-detect",
            "Null Value Representation" : "empty string",
            "event_time" : "$.flowSegmentData.timestamp",
            "Path Not Found Behavior" : "ignore"
          },
          "propertyDescriptors" : {
            "Destination" : {
              "displayName" : "Destination",
              "identifiesControllerService" : false,
              "name" : "Destination",
              "sensitive" : false
            },
            "Max String Length" : {
              "displayName" : "Max String Length",
              "identifiesControllerService" : false,
              "name" : "Max String Length",
              "sensitive" : false
            },
            "Return Type" : {
              "displayName" : "Return Type",
              "identifiesControllerService" : false,
              "name" : "Return Type",
              "sensitive" : false
            },
            "Null Value Representation" : {
              "displayName" : "Null Value Representation",
              "identifiesControllerService" : false,
              "name" : "Null Value Representation",
              "sensitive" : false
            },
            "event_time" : {
              "displayName" : "event_time",
              "identifiesControllerService" : false,
              "name" : "event_time",
              "sensitive" : false
            },
            "Path Not Found Behavior" : {
              "displayName" : "Path Not Found Behavior",
              "identifiesControllerService" : false,
              "name" : "Path Not Found Behavior",
              "sensitive" : false
            }
          },
          "retriedRelationships" : [ ],
          "retryCount" : 10,
          "runDurationMillis" : 0,
          "scheduledState" : "ENABLED",
          "schedulingPeriod" : "0 sec",
          "schedulingStrategy" : "TIMER_DRIVEN",
          "style" : { },
          "type" : "org.apache.nifi.processors.standard.EvaluateJsonPath",
          "yieldDuration" : "1 sec"
        }, {
          "autoTerminatedRelationships" : [ ],
          "backoffMechanism" : "PENALIZE_FLOWFILE",
          "bulletinLevel" : "WARN",
          "bundle" : {
            "artifact" : "nifi-standard-nar",
            "group" : "org.apache.nifi",
            "version" : "1.28.0"
          },
          "comments" : "",
          "componentType" : "PROCESSOR",
          "concurrentlySchedulableTaskCount" : 1,
          "executionNode" : "ALL",
          "groupIdentifier" : "bc3f74bb-8ac4-3f8d-b141-0030d33364da",
          "identifier" : "52fa13ba-3e9b-3917-a0d7-83d24bd210e9",
          "instanceIdentifier" : "57ac3d11-79f2-117d-ec2f-def8f8575b32",
          "maxBackoffPeriod" : "10 mins",
          "name" : "LogMessage",
          "penaltyDuration" : "30 sec",
          "position" : {
            "x" : 2760.0,
            "y" : -144.0
          },
          "properties" : {
            "log-level" : "info"
          },
          "propertyDescriptors" : {
            "log-message" : {
              "displayName" : "Log message",
              "identifiesControllerService" : false,
              "name" : "log-message",
              "sensitive" : false
            },
            "log-level" : {
              "displayName" : "Log Level",
              "identifiesControllerService" : false,
              "name" : "log-level",
              "sensitive" : false
            },
            "log-prefix" : {
              "displayName" : "Log prefix",
              "identifiesControllerService" : false,
              "name" : "log-prefix",
              "sensitive" : false
            }
          },
          "retriedRelationships" : [ ],
          "retryCount" : 10,
          "runDurationMillis" : 25,
          "scheduledState" : "ENABLED",
          "schedulingPeriod" : "0 sec",
          "schedulingStrategy" : "TIMER_DRIVEN",
          "style" : { },
          "type" : "org.apache.nifi.processors.standard.LogMessage",
          "yieldDuration" : "1 sec"
        }, {
          "autoTerminatedRelationships" : [ ],
          "backoffMechanism" : "PENALIZE_FLOWFILE",
          "bulletinLevel" : "WARN",
          "bundle" : {
            "artifact" : "nifi-update-attribute-nar",
            "group" : "org.apache.nifi",
            "version" : "1.28.0"
          },
          "comments" : "",
          "componentType" : "PROCESSOR",
          "concurrentlySchedulableTaskCount" : 1,
          "executionNode" : "ALL",
          "groupIdentifier" : "bc3f74bb-8ac4-3f8d-b141-0030d33364da",
          "identifier" : "60600f93-6d24-32b0-bc47-d89778afdcf7",
          "instanceIdentifier" : "32a13436-83aa-17ff-7129-755a3bb7d8ab",
          "maxBackoffPeriod" : "10 mins",
          "name" : "UpdateAttribute",
          "penaltyDuration" : "30 sec",
          "position" : {
            "x" : 1288.0,
            "y" : 1128.0
          },
          "properties" : {
            "Store State" : "Do not store state",
            "canonical-value-lookup-cache-size" : "100"
          },
          "propertyDescriptors" : {
            "Delete Attributes Expression" : {
              "displayName" : "Delete Attributes Expression",
              "identifiesControllerService" : false,
              "name" : "Delete Attributes Expression",
              "sensitive" : false
            },
            "Store State" : {
              "displayName" : "Store State",
              "identifiesControllerService" : false,
              "name" : "Store State",
              "sensitive" : false
            },
            "canonical-value-lookup-cache-size" : {
              "displayName" : "Cache Value Lookup Cache Size",
              "identifiesControllerService" : false,
              "name" : "canonical-value-lookup-cache-size",
              "sensitive" : false
            },
            "Stateful Variables Initial Value" : {
              "displayName" : "Stateful Variables Initial Value",
              "identifiesControllerService" : false,
              "name" : "Stateful Variables Initial Value",
              "sensitive" : false
            }
          },
          "retriedRelationships" : [ ],
          "retryCount" : 10,
          "runDurationMillis" : 25,
          "scheduledState" : "ENABLED",
          "schedulingPeriod" : "0 sec",
          "schedulingStrategy" : "TIMER_DRIVEN",
          "style" : { },
          "type" : "org.apache.nifi.processors.attributes.UpdateAttribute",
          "yieldDuration" : "1 sec"
        }, {
          "autoTerminatedRelationships" : [ ],
          "backoffMechanism" : "PENALIZE_FLOWFILE",
          "bulletinLevel" : "WARN",
          "bundle" : {
            "artifact" : "nifi-standard-nar",
            "group" : "org.apache.nifi",
            "version" : "1.28.0"
          },
          "comments" : "",
          "componentType" : "PROCESSOR",
          "concurrentlySchedulableTaskCount" : 1,
          "executionNode" : "ALL",
          "groupIdentifier" : "bc3f74bb-8ac4-3f8d-b141-0030d33364da",
          "identifier" : "4954abd3-da96-383c-82f7-431abdad34dc",
          "instanceIdentifier" : "32a1342a-83aa-17ff-4ed0-2c629c97bb2a",
          "maxBackoffPeriod" : "10 mins",
          "name" : "EvaluateJsonPath",
          "penaltyDuration" : "30 sec",
          "position" : {
            "x" : 3208.0,
            "y" : 936.0
          },
          "properties" : {
            "Destination" : "flowfile-attribute",
            "Max String Length" : "20 MB",
            "Return Type" : "auto-detect",
            "Null Value Representation" : "empty string",
            "event_time" : "$.dt",
            "Path Not Found Behavior" : "ignore"
          },
          "propertyDescriptors" : {
            "Destination" : {
              "displayName" : "Destination",
              "identifiesControllerService" : false,
              "name" : "Destination",
              "sensitive" : false
            },
            "Max String Length" : {
              "displayName" : "Max String Length",
              "identifiesControllerService" : false,
              "name" : "Max String Length",
              "sensitive" : false
            },
            "Return Type" : {
              "displayName" : "Return Type",
              "identifiesControllerService" : false,
              "name" : "Return Type",
              "sensitive" : false
            },
            "Null Value Representation" : {
              "displayName" : "Null Value Representation",
              "identifiesControllerService" : false,
              "name" : "Null Value Representation",
              "sensitive" : false
            },
            "event_time" : {
              "displayName" : "event_time",
              "identifiesControllerService" : false,
              "name" : "event_time",
              "sensitive" : false
            },
            "Path Not Found Behavior" : {
              "displayName" : "Path Not Found Behavior",
              "identifiesControllerService" : false,
              "name" : "Path Not Found Behavior",
              "sensitive" : false
            }
          },
          "retriedRelationships" : [ ],
          "retryCount" : 10,
          "runDurationMillis" : 0,
          "scheduledState" : "ENABLED",
          "schedulingPeriod" : "0 sec",
          "schedulingStrategy" : "TIMER_DRIVEN",
          "style" : { },
          "type" : "org.apache.nifi.processors.standard.EvaluateJsonPath",
          "yieldDuration" : "1 sec"
        }, {
          "autoTerminatedRelationships" : [ ],
          "backoffMechanism" : "PENALIZE_FLOWFILE",
          "bulletinLevel" : "WARN",
          "bundle" : {
            "artifact" : "nifi-standard-nar",
            "group" : "org.apache.nifi",
            "version" : "1.28.0"
          },
          "comments" : "",
          "componentType" : "PROCESSOR",
          "concurrentlySchedulableTaskCount" : 1,
          "executionNode" : "ALL",
          "groupIdentifier" : "bc3f74bb-8ac4-3f8d-b141-0030d33364da",
          "identifier" : "297c5e71-523a-3354-b8ee-6720270c1f9e",
          "instanceIdentifier" : "32a1344f-83aa-17ff-3a3e-b796d0c68044",
          "maxBackoffPeriod" : "10 mins",
          "name" : "LogMessage",
          "penaltyDuration" : "30 sec",
          "position" : {
            "x" : 3704.0,
            "y" : 16.0
          },
          "properties" : {
            "log-level" : "info"
          },
          "propertyDescriptors" : {
            "log-message" : {
              "displayName" : "Log message",
              "identifiesControllerService" : false,
              "name" : "log-message",
              "sensitive" : false
            },
            "log-level" : {
              "displayName" : "Log Level",
              "identifiesControllerService" : false,
              "name" : "log-level",
              "sensitive" : false
            },
            "log-prefix" : {
              "displayName" : "Log prefix",
              "identifiesControllerService" : false,
              "name" : "log-prefix",
              "sensitive" : false
            }
          },
          "retriedRelationships" : [ ],
          "retryCount" : 10,
          "runDurationMillis" : 25,
          "scheduledState" : "ENABLED",
          "schedulingPeriod" : "0 sec",
          "schedulingStrategy" : "TIMER_DRIVEN",
          "style" : { },
          "type" : "org.apache.nifi.processors.standard.LogMessage",
          "yieldDuration" : "1 sec"
        }, {
          "autoTerminatedRelationships" : [ ],
          "backoffMechanism" : "PENALIZE_FLOWFILE",
          "bulletinLevel" : "WARN",
          "bundle" : {
            "artifact" : "nifi-standard-nar",
            "group" : "org.apache.nifi",
            "version" : "1.28.0"
          },
          "comments" : "",
          "componentType" : "PROCESSOR",
          "concurrentlySchedulableTaskCount" : 1,
          "executionNode" : "ALL",
          "groupIdentifier" : "bc3f74bb-8ac4-3f8d-b141-0030d33364da",
          "identifier" : "9690e6ba-f830-313d-b93c-f83b273bf037",
          "instanceIdentifier" : "24c580f6-c21c-3ada-98fa-0658243d4bf2",
          "maxBackoffPeriod" : "10 mins",
          "name" : "InvokeHTTP",
          "penaltyDuration" : "30 sec",
          "position" : {
            "x" : 1304.0,
            "y" : -152.0
          },
          "properties" : {
            "use-etag" : "false",
            "Proxy Type" : "http",
            "cookie-strategy" : "DISABLED",
            "Connection Timeout" : "5 secs",
            "send-message-body" : "true",
            "set-form-filename" : "true",
            "Always Output Response" : "false",
            "etag-max-cache-size" : "10MB",
            "Content-Encoding" : "DISABLED",
            "disable-http2" : "False",
            "idle-timeout" : "5 mins",
            "Use Chunked Encoding" : "false",
            "Follow Redirects" : "True",
            "Remote URL" : "http://api-service:8000/api/v1/air_pollution?lat=40.7128&lng=-74.0060",
            "Content-Type" : "${mime.type}",
            "flow-file-naming-strategy" : "RANDOM",
            "max-idle-connections" : "5",
            "Read Timeout" : "15 secs",
            "Socket Write Timeout" : "15 secs",
            "Max Length To Put In Attribute" : "256",
            "ignore-response-content" : "false",
            "Digest Authentication" : "false",
            "HTTP Method" : "GET",
            "Add Response Headers to Request" : "false",
            "Include Date Header" : "True",
            "Penalize on \"No Retry\"" : "false"
          },
          "propertyDescriptors" : {
            "Proxy Host" : {
              "displayName" : "Proxy Host",
              "identifiesControllerService" : false,
              "name" : "Proxy Host",
              "sensitive" : false
            },
            "Attributes to Send" : {
              "displayName" : "Request Header Attributes Pattern",
              "identifiesControllerService" : false,
              "name" : "Attributes to Send",
              "sensitive" : false
            },
            "use-etag" : {
              "displayName" : "Response Cache Enabled",
              "identifiesControllerService" : false,
              "name" : "use-etag",
              "sensitive" : false
            },
            "proxy-configuration-service" : {
              "displayName" : "Proxy Configuration Service",
              "identifiesControllerService" : true,
              "name" : "proxy-configuration-service",
              "sensitive" : false
            },
            "Proxy Type" : {
              "displayName" : "Proxy Type",
              "identifiesControllerService" : false,
              "name" : "Proxy Type",
              "sensitive" : false
            },
            "Basic Authentication Password" : {
              "displayName" : "Request Password",
              "identifiesControllerService" : false,
              "name" : "Basic Authentication Password",
              "sensitive" : true
            },
            "cookie-strategy" : {
              "displayName" : "Response Cookie Strategy",
              "identifiesControllerService" : false,
              "name" : "cookie-strategy",
              "sensitive" : false
            },
            "Connection Timeout" : {
              "displayName" : "Socket Connect Timeout",
              "identifiesControllerService" : false,
              "name" : "Connection Timeout",
              "sensitive" : false
            },
            "send-message-body" : {
              "displayName" : "Request Body Enabled",
              "identifiesControllerService" : false,
              "name" : "send-message-body",
              "sensitive" : false
            },
            "set-form-filename" : {
              "displayName" : "Request Multipart Form-Data Filename Enabled",
              "identifiesControllerService" : false,
              "name" : "set-form-filename",
              "sensitive" : false
            },
            "Always Output Response" : {
              "displayName" : "Response Generation Required",
              "identifiesControllerService" : false,
              "name" : "Always Output Response",
              "sensitive" : false
            },
            "etag-max-cache-size" : {
              "displayName" : "Response Cache Size",
              "identifiesControllerService" : false,
              "name" : "etag-max-cache-size",
              "sensitive" : false
            },
            "Content-Encoding" : {
              "displayName" : "Request Content-Encoding",
              "identifiesControllerService" : false,
              "name" : "Content-Encoding",
              "sensitive" : false
            },
            "disable-http2" : {
              "displayName" : "HTTP/2 Disabled",
              "identifiesControllerService" : false,
              "name" : "disable-http2",
              "sensitive" : false
            },
            "idle-timeout" : {
              "displayName" : "Socket Idle Timeout",
              "identifiesControllerService" : false,
              "name" : "idle-timeout",
              "sensitive" : false
            },
            "Put Response Body In Attribute" : {
              "displayName" : "Response Body Attribute Name",
              "identifiesControllerService" : false,
              "name" : "Put Response Body In Attribute",
              "sensitive" : false
            },
            "Use Chunked Encoding" : {
              "displayName" : "Request Chunked Transfer-Encoding Enabled",
              "identifiesControllerService" : false,
              "name" : "Use Chunked Encoding",
              "sensitive" : false
            },
            "Follow Redirects" : {
              "displayName" : "Response Redirects Enabled",
              "identifiesControllerService" : false,
              "name" : "Follow Redirects",
              "sensitive" : false
            },
            "Remote URL" : {
              "displayName" : "HTTP URL",
              "identifiesControllerService" : false,
              "name" : "Remote URL",
              "sensitive" : false
            },
            "form-body-form-name" : {
              "displayName" : "Request Multipart Form-Data Name",
              "identifiesControllerService" : false,
              "name" : "form-body-form-name",
              "sensitive" : false
            },
            "Content-Type" : {
              "displayName" : "Request Content-Type",
              "identifiesControllerService" : false,
              "name" : "Content-Type",
              "sensitive" : false
            },
            "flow-file-naming-strategy" : {
              "displayName" : "Response FlowFile Naming Strategy",
              "identifiesControllerService" : false,
              "name" : "flow-file-naming-strategy",
              "sensitive" : false
            },
            "max-idle-connections" : {
              "displayName" : "Socket Idle Connections",
              "identifiesControllerService" : false,
              "name" : "max-idle-connections",
              "sensitive" : false
            },
            "invokehttp-proxy-user" : {
              "displayName" : "Proxy Username",
              "identifiesControllerService" : false,
              "name" : "invokehttp-proxy-user",
              "sensitive" : false
            },
            "Read Timeout" : {
              "displayName" : "Socket Read Timeout",
              "identifiesControllerService" : false,
              "name" : "Read Timeout",
              "sensitive" : false
            },
            "Socket Write Timeout" : {
              "displayName" : "Socket Write Timeout",
              "identifiesControllerService" : false,
              "name" : "Socket Write Timeout",
              "sensitive" : false
            },
            "Max Length To Put In Attribute" : {
              "displayName" : "Response Body Attribute Size",
              "identifiesControllerService" : false,
              "name" : "Max Length To Put In Attribute",
              "sensitive" : false
            },
            "invokehttp-proxy-password" : {
              "displayName" : "Proxy Password",
              "identifiesControllerService" : false,
              "name" : "invokehttp-proxy-password",
              "sensitive" : true
            },
            "ignore-response-content" : {
              "displayName" : "Response Body Ignored",
              "identifiesControllerService" : false,
              "name" : "ignore-response-content",
              "sensitive" : false
            },
            "Proxy Port" : {
              "displayName" : "Proxy Port",
              "identifiesControllerService" : false,
              "name" : "Proxy Port",
              "sensitive" : false
            },
            "SSL Context Service" : {
              "displayName" : "SSL Context Service",
              "identifiesControllerService" : true,
              "name" : "SSL Context Service",
              "sensitive" : false
            },
            "Digest Authentication" : {
              "displayName" : "Request Digest Authentication Enabled",
              "identifiesControllerService" : false,
              "name" : "Digest Authentication",
              "sensitive" : false
            },
            "HTTP Method" : {
              "displayName" : "HTTP Method",
              "identifiesControllerService" : false,
              "name" : "HTTP Method",
              "sensitive" : false
            },
            "Add Response Headers to Request" : {
              "displayName" : "Response Header Request Attributes Enabled",
              "identifiesControllerService" : false,
              "name" : "Add Response Headers to Request",
              "sensitive" : false
            },
            "oauth2-access-token-provider" : {
              "displayName" : "Request OAuth2 Access Token Provider",
              "identifiesControllerService" : true,
              "name" : "oauth2-access-token-provider",
              "sensitive" : false
            },
            "Basic Authentication Username" : {
              "displayName" : "Request Username",
              "identifiesControllerService" : false,
              "name" : "Basic Authentication Username",
              "sensitive" : false
            },
            "Include Date Header" : {
              "displayName" : "Request Date Header Enabled",
              "identifiesControllerService" : false,
              "name" : "Include Date Header",
              "sensitive" : false
            },
            "Penalize on \"No Retry\"" : {
              "displayName" : "Request Failure Penalization Enabled",
              "identifiesControllerService" : false,
              "name" : "Penalize on \"No Retry\"",
              "sensitive" : false
            },
            "Useragent" : {
              "displayName" : "Request User-Agent",
              "identifiesControllerService" : false,
              "name" : "Useragent",
              "sensitive" : false
            }
          },
          "retriedRelationships" : [ ],
          "retryCount" : 10,
          "runDurationMillis" : 0,
          "scheduledState" : "ENABLED",
          "schedulingPeriod" : "0 sec",
          "schedulingStrategy" : "TIMER_DRIVEN",
          "style" : { },
          "type" : "org.apache.nifi.processors.standard.InvokeHTTP",
          "yieldDuration" : "1 sec"
        }, {
          "autoTerminatedRelationships" : [ ],
          "backoffMechanism" : "PENALIZE_FLOWFILE",
          "bulletinLevel" : "WARN",
          "bundle" : {
            "artifact" : "nifi-update-attribute-nar",
            "group" : "org.apache.nifi",
            "version" : "1.28.0"
          },
          "comments" : "",
          "componentType" : "PROCESSOR",
          "concurrentlySchedulableTaskCount" : 1,
          "executionNode" : "ALL",
          "groupIdentifier" : "bc3f74bb-8ac4-3f8d-b141-0030d33364da",
          "identifier" : "8935f73f-1009-3b88-82a6-5b7deab283c3",
          "instanceIdentifier" : "32a13426-83aa-17ff-72cf-ba113f1c03c8",
          "maxBackoffPeriod" : "10 mins",
          "name" : "UpdateAttribute",
          "penaltyDuration" : "30 sec",
          "position" : {
            "x" : 2288.0,
            "y" : 1144.0
          },
          "properties" : {
            "Store State" : "Do not store state",
            "canonical-value-lookup-cache-size" : "100"
          },
          "propertyDescriptors" : {
            "Delete Attributes Expression" : {
              "displayName" : "Delete Attributes Expression",
              "identifiesControllerService" : false,
              "name" : "Delete Attributes Expression",
              "sensitive" : false
            },
            "Store State" : {
              "displayName" : "Store State",
              "identifiesControllerService" : false,
              "name" : "Store State",
              "sensitive" : false
            },
            "canonical-value-lookup-cache-size" : {
              "displayName" : "Cache Value Lookup Cache Size",
              "identifiesControllerService" : false,
              "name" : "canonical-value-lookup-cache-size",
              "sensitive" : false
            },
            "Stateful Variables Initial Value" : {
              "displayName" : "Stateful Variables Initial Value",
              "identifiesControllerService" : false,
              "name" : "Stateful Variables Initial Value",
              "sensitive" : false
            }
          },
          "retriedRelationships" : [ ],
          "retryCount" : 10,
          "runDurationMillis" : 25,
          "scheduledState" : "ENABLED",
          "schedulingPeriod" : "0 sec",
          "schedulingStrategy" : "TIMER_DRIVEN",
          "style" : { },
          "type" : "org.apache.nifi.processors.attributes.UpdateAttribute",
          "yieldDuration" : "1 sec"
        }, {
          "autoTerminatedRelationships" : [ ],
          "backoffMechanism" : "PENALIZE_FLOWFILE",
          "bulletinLevel" : "WARN",
          "bundle" : {
            "artifact" : "nifi-standard-nar",
            "group" : "org.apache.nifi",
            "version" : "1.28.0"
          },
          "comments" : "",
          "componentType" : "PROCESSOR",
          "concurrentlySchedulableTaskCount" : 1,
          "executionNode" : "ALL",
          "groupIdentifier" : "bc3f74bb-8ac4-3f8d-b141-0030d33364da",
          "identifier" : "0ab07ff7-b2ce-30db-a368-7b6a3b3ebfd5",
          "instanceIdentifier" : "55112186-9d32-3e97-c6d4-18977c606113",
          "maxBackoffPeriod" : "10 mins",
          "name" : "LogMessage",
          "penaltyDuration" : "30 sec",
          "position" : {
            "x" : 864.0,
            "y" : -160.0
          },
          "properties" : {
            "log-level" : "info"
          },
          "propertyDescriptors" : {
            "log-message" : {
              "displayName" : "Log message",
              "identifiesControllerService" : false,
              "name" : "log-message",
              "sensitive" : false
            },
            "log-level" : {
              "displayName" : "Log Level",
              "identifiesControllerService" : false,
              "name" : "log-level",
              "sensitive" : false
            },
            "log-prefix" : {
              "displayName" : "Log prefix",
              "identifiesControllerService" : false,
              "name" : "log-prefix",
              "sensitive" : false
            }
          },
          "retriedRelationships" : [ ],
          "retryCount" : 10,
          "runDurationMillis" : 25,
          "scheduledState" : "ENABLED",
          "schedulingPeriod" : "0 sec",
          "schedulingStrategy" : "TIMER_DRIVEN",
          "style" : { },
          "type" : "org.apache.nifi.processors.standard.LogMessage",
          "yieldDuration" : "1 sec"
        }, {
          "autoTerminatedRelationships" : [ ],
          "backoffMechanism" : "PENALIZE_FLOWFILE",
          "bulletinLevel" : "WARN",
          "bundle" : {
            "artifact" : "nifi-standard-nar",
            "group" : "org.apache.nifi",
            "version" : "1.28.0"
          },
          "comments" : "",
          "componentType" : "PROCESSOR",
          "concurrentlySchedulableTaskCount" : 1,
          "executionNode" : "ALL",
          "groupIdentifier" : "bc3f74bb-8ac4-3f8d-b141-0030d33364da",
          "identifier" : "aac5bd3f-7036-306b-ac90-443323dbf134",
          "instanceIdentifier" : "32a1340e-83aa-17ff-4d0b-a2245d31632e",
          "maxBackoffPeriod" : "10 mins",
          "name" : "InvokeHTTP",
          "penaltyDuration" : "30 sec",
          "position" : {
            "x" : 3232.0,
            "y" : -144.0
          },
          "properties" : {
            "use-etag" : "false",
            "Proxy Type" : "http",
            "cookie-strategy" : "DISABLED",
            "Connection Timeout" : "5 secs",
            "send-message-body" : "true",
            "set-form-filename" : "true",
            "Always Output Response" : "false",
            "etag-max-cache-size" : "10MB",
            "Content-Encoding" : "DISABLED",
            "disable-http2" : "False",
            "idle-timeout" : "5 mins",
            "Use Chunked Encoding" : "false",
            "Follow Redirects" : "True",
            "Remote URL" : "http://api-service:8000/api/v1/uv?lat=40.7128&lng=-74.0060",
            "Content-Type" : "${mime.type}",
            "flow-file-naming-strategy" : "RANDOM",
            "max-idle-connections" : "5",
            "Read Timeout" : "15 secs",
            "Socket Write Timeout" : "15 secs",
            "Max Length To Put In Attribute" : "256",
            "ignore-response-content" : "false",
            "Digest Authentication" : "false",
            "HTTP Method" : "GET",
            "Add Response Headers to Request" : "false",
            "Include Date Header" : "True",
            "Penalize on \"No Retry\"" : "false"
          },
          "propertyDescriptors" : {
            "Proxy Host" : {
              "displayName" : "Proxy Host",
              "identifiesControllerService" : false,
              "name" : "Proxy Host",
              "sensitive" : false
            },
            "Attributes to Send" : {
              "displayName" : "Request Header Attributes Pattern",
              "identifiesControllerService" : false,
              "name" : "Attributes to Send",
              "sensitive" : false
            },
            "use-etag" : {
              "displayName" : "Response Cache Enabled",
              "identifiesControllerService" : false,
              "name" : "use-etag",
              "sensitive" : false
            },
            "proxy-configuration-service" : {
              "displayName" : "Proxy Configuration Service",
              "identifiesControllerService" : true,
              "name" : "proxy-configuration-service",
              "sensitive" : false
            },
            "Proxy Type" : {
              "displayName" : "Proxy Type",
              "identifiesControllerService" : false,
              "name" : "Proxy Type",
              "sensitive" : false
            },
            "Basic Authentication Password" : {
              "displayName" : "Request Password",
              "identifiesControllerService" : false,
              "name" : "Basic Authentication Password",
              "sensitive" : true
            },
            "cookie-strategy" : {
              "displayName" : "Response Cookie Strategy",
              "identifiesControllerService" : false,
              "name" : "cookie-strategy",
              "sensitive" : false
            },
            "Connection Timeout" : {
              "displayName" : "Socket Connect Timeout",
              "identifiesControllerService" : false,
              "name" : "Connection Timeout",
              "sensitive" : false
            },
            "send-message-body" : {
              "displayName" : "Request Body Enabled",
              "identifiesControllerService" : false,
              "name" : "send-message-body",
              "sensitive" : false
            },
            "set-form-filename" : {
              "displayName" : "Request Multipart Form-Data Filename Enabled",
              "identifiesControllerService" : false,
              "name" : "set-form-filename",
              "sensitive" : false
            },
            "Always Output Response" : {
              "displayName" : "Response Generation Required",
              "identifiesControllerService" : false,
              "name" : "Always Output Response",
              "sensitive" : false
            },
            "etag-max-cache-size" : {
              "displayName" : "Response Cache Size",
              "identifiesControllerService" : false,
              "name" : "etag-max-cache-size",
              "sensitive" : false
            },
            "Content-Encoding" : {
              "displayName" : "Request Content-Encoding",
              "identifiesControllerService" : false,
              "name" : "Content-Encoding",
              "sensitive" : false
            },
            "disable-http2" : {
              "displayName" : "HTTP/2 Disabled",
              "identifiesControllerService" : false,
              "name" : "disable-http2",
              "sensitive" : false
            },
            "idle-timeout" : {
              "displayName" : "Socket Idle Timeout",
              "identifiesControllerService" : false,
              "name" : "idle-timeout",
              "sensitive" : false
            },
            "Put Response Body In Attribute" : {
              "displayName" : "Response Body Attribute Name",
              "identifiesControllerService" : false,
              "name" : "Put Response Body In Attribute",
              "sensitive" : false
            },
            "Use Chunked Encoding" : {
              "displayName" : "Request Chunked Transfer-Encoding Enabled",
              "identifiesControllerService" : false,
              "name" : "Use Chunked Encoding",
              "sensitive" : false
            },
            "Follow Redirects" : {
              "displayName" : "Response Redirects Enabled",
              "identifiesControllerService" : false,
              "name" : "Follow Redirects",
              "sensitive" : false
            },
            "Remote URL" : {
              "displayName" : "HTTP URL",
              "identifiesControllerService" : false,
              "name" : "Remote URL",
              "sensitive" : false
            },
            "form-body-form-name" : {
              "displayName" : "Request Multipart Form-Data Name",
              "identifiesControllerService" : false,
              "name" : "form-body-form-name",
              "sensitive" : false
            },
            "Content-Type" : {
              "displayName" : "Request Content-Type",
              "identifiesControllerService" : false,
              "name" : "Content-Type",
              "sensitive" : false
            },
            "flow-file-naming-strategy" : {
              "displayName" : "Response FlowFile Naming Strategy",
              "identifiesControllerService" : false,
              "name" : "flow-file-naming-strategy",
              "sensitive" : false
            },
            "max-idle-connections" : {
              "displayName" : "Socket Idle Connections",
              "identifiesControllerService" : false,
              "name" : "max-idle-connections",
              "sensitive" : false
            },
            "invokehttp-proxy-user" : {
              "displayName" : "Proxy Username",
              "identifiesControllerService" : false,
              "name" : "invokehttp-proxy-user",
              "sensitive" : false
            },
            "Read Timeout" : {
              "displayName" : "Socket Read Timeout",
              "identifiesControllerService" : false,
              "name" : "Read Timeout",
              "sensitive" : false
            },
            "Socket Write Timeout" : {
              "displayName" : "Socket Write Timeout",
              "identifiesControllerService" : false,
              "name" : "Socket Write Timeout",
              "sensitive" : false
            },
            "Max Length To Put In Attribute" : {
              "displayName" : "Response Body Attribute Size",
              "identifiesControllerService" : false,
              "name" : "Max Length To Put In Attribute",
              "sensitive" : false
            },
            "invokehttp-proxy-password" : {
              "displayName" : "Proxy Password",
              "identifiesControllerService" : false,
              "name" : "invokehttp-proxy-password",
              "sensitive" : true
            },
            "ignore-response-content" : {
              "displayName" : "Response Body Ignored",
              "identifiesControllerService" : false,
              "name" : "ignore-response-content",
              "sensitive" : false
            },
            "Proxy Port" : {
              "displayName" : "Proxy Port",
              "identifiesControllerService" : false,
              "name" : "Proxy Port",
              "sensitive" : false
            },
            "SSL Context Service" : {
              "displayName" : "SSL Context Service",
              "identifiesControllerService" : true,
              "name" : "SSL Context Service",
              "sensitive" : false
            },
            "Digest Authentication" : {
              "displayName" : "Request Digest Authentication Enabled",
              "identifiesControllerService" : false,
              "name" : "Digest Authentication",
              "sensitive" : false
            },
            "HTTP Method" : {
              "displayName" : "HTTP Method",
              "identifiesControllerService" : false,
              "name" : "HTTP Method",
              "sensitive" : false
            },
            "Add Response Headers to Request" : {
              "displayName" : "Response Header Request Attributes Enabled",
              "identifiesControllerService" : false,
              "name" : "Add Response Headers to Request",
              "sensitive" : false
            },
            "oauth2-access-token-provider" : {
              "displayName" : "Request OAuth2 Access Token Provider",
              "identifiesControllerService" : true,
              "name" : "oauth2-access-token-provider",
              "sensitive" : false
            },
            "Basic Authentication Username" : {
              "displayName" : "Request Username",
              "identifiesControllerService" : false,
              "name" : "Basic Authentication Username",
              "sensitive" : false
            },
            "Include Date Header" : {
              "displayName" : "Request Date Header Enabled",
              "identifiesControllerService" : false,
              "name" : "Include Date Header",
              "sensitive" : false
            },
            "Penalize on \"No Retry\"" : {
              "displayName" : "Request Failure Penalization Enabled",
              "identifiesControllerService" : false,
              "name" : "Penalize on \"No Retry\"",
              "sensitive" : false
            },
            "Useragent" : {
              "displayName" : "Request User-Agent",
              "identifiesControllerService" : false,
              "name" : "Useragent",
              "sensitive" : false
            }
          },
          "retriedRelationships" : [ ],
          "retryCount" : 10,
          "runDurationMillis" : 0,
          "scheduledState" : "ENABLED",
          "schedulingPeriod" : "0 sec",
          "schedulingStrategy" : "TIMER_DRIVEN",
          "style" : { },
          "type" : "org.apache.nifi.processors.standard.InvokeHTTP",
          "yieldDuration" : "1 sec"
        }, {
          "autoTerminatedRelationships" : [ ],
          "backoffMechanism" : "PENALIZE_FLOWFILE",
          "bulletinLevel" : "WARN",
          "bundle" : {
            "artifact" : "nifi-standard-nar",
            "group" : "org.apache.nifi",
            "version" : "1.28.0"
          },
          "comments" : "",
          "componentType" : "PROCESSOR",
          "concurrentlySchedulableTaskCount" : 1,
          "executionNode" : "ALL",
          "groupIdentifier" : "bc3f74bb-8ac4-3f8d-b141-0030d33364da",
          "identifier" : "88daaf01-e2b5-34c9-ba39-c6f14db50fb9",
          "instanceIdentifier" : "32a1341a-83aa-17ff-708a-44a37e7cc830",
          "maxBackoffPeriod" : "10 mins",
          "name" : "LogMessage",
          "penaltyDuration" : "30 sec",
          "position" : {
            "x" : 3704.0,
            "y" : 520.0
          },
          "properties" : {
            "log-level" : "info"
          },
          "propertyDescriptors" : {
            "log-message" : {
              "displayName" : "Log message",
              "identifiesControllerService" : false,
              "name" : "log-message",
              "sensitive" : false
            },
            "log-level" : {
              "displayName" : "Log Level",
              "identifiesControllerService" : false,
              "name" : "log-level",
              "sensitive" : false
            },
            "log-prefix" : {
              "displayName" : "Log prefix",
              "identifiesControllerService" : false,
              "name" : "log-prefix",
              "sensitive" : false
            }
          },
          "retriedRelationships" : [ ],
          "retryCount" : 10,
          "runDurationMillis" : 25,
          "scheduledState" : "ENABLED",
          "schedulingPeriod" : "0 sec",
          "schedulingStrategy" : "TIMER_DRIVEN",
          "style" : { },
          "type" : "org.apache.nifi.processors.standard.LogMessage",
          "yieldDuration" : "1 sec"
        }, {
          "autoTerminatedRelationships" : [ ],
          "backoffMechanism" : "PENALIZE_FLOWFILE",
          "bulletinLevel" : "WARN",
          "bundle" : {
            "artifact" : "nifi-standard-nar",
            "group" : "org.apache.nifi",
            "version" : "1.28.0"
          },
          "comments" : "",
          "componentType" : "PROCESSOR",
          "concurrentlySchedulableTaskCount" : 1,
          "executionNode" : "ALL",
          "groupIdentifier" : "bc3f74bb-8ac4-3f8d-b141-0030d33364da",
          "identifier" : "a6c60670-c591-38d6-b3be-e332c925d3ff",
          "instanceIdentifier" : "32a13430-83aa-17ff-f6dd-94a1eef9d831",
          "maxBackoffPeriod" : "10 mins",
          "name" : "EvaluateJsonPath",
          "penaltyDuration" : "30 sec",
          "position" : {
            "x" : 848.0,
            "y" : 952.0
          },
          "properties" : {
            "Destination" : "flowfile-attribute",
            "Max String Length" : "20 MB",
            "Return Type" : "auto-detect",
            "Null Value Representation" : "empty string",
            "event_time" : "$.dt",
            "Path Not Found Behavior" : "ignore"
          },
          "propertyDescriptors" : {
            "Destination" : {
              "displayName" : "Destination",
              "identifiesControllerService" : false,
              "name" : "Destination",
              "sensitive" : false
            },
            "Max String Length" : {
              "displayName" : "Max String Length",
              "identifiesControllerService" : false,
              "name" : "Max String Length",
              "sensitive" : false
            },
            "Return Type" : {
              "displayName" : "Return Type",
              "identifiesControllerService" : false,
              "name" : "Return Type",
              "sensitive" : false
            },
            "Null Value Representation" : {
              "displayName" : "Null Value Representation",
              "identifiesControllerService" : false,
              "name" : "Null Value Representation",
              "sensitive" : false
            },
            "event_time" : {
              "displayName" : "event_time",
              "identifiesControllerService" : false,
              "name" : "event_time",
              "sensitive" : false
            },
            "Path Not Found Behavior" : {
              "displayName" : "Path Not Found Behavior",
              "identifiesControllerService" : false,
              "name" : "Path Not Found Behavior",
              "sensitive" : false
            }
          },
          "retriedRelationships" : [ ],
          "retryCount" : 10,
          "runDurationMillis" : 0,
          "scheduledState" : "ENABLED",
          "schedulingPeriod" : "0 sec",
          "schedulingStrategy" : "TIMER_DRIVEN",
          "style" : { },
          "type" : "org.apache.nifi.processors.standard.EvaluateJsonPath",
          "yieldDuration" : "1 sec"
        }, {
          "autoTerminatedRelationships" : [ ],
          "backoffMechanism" : "PENALIZE_FLOWFILE",
          "bulletinLevel" : "WARN",
          "bundle" : {
            "artifact" : "nifi-hadoop-nar",
            "group" : "org.apache.nifi",
            "version" : "1.28.0"
          },
          "comments" : "",
          "componentType" : "PROCESSOR",
          "concurrentlySchedulableTaskCount" : 1,
          "executionNode" : "ALL",
          "groupIdentifier" : "bc3f74bb-8ac4-3f8d-b141-0030d33364da",
          "identifier" : "1e74de1f-26b5-3315-823b-f617b0e32d95",
          "instanceIdentifier" : "06983627-0c45-1d10-6f6a-06ac6809db09",
          "maxBackoffPeriod" : "10 mins",
          "name" : "PutHDFS",
          "penaltyDuration" : "30 sec",
          "position" : {
            "x" : 2296.0,
            "y" : 520.0
          },
          "properties" : {
            "Hadoop Configuration Resources" : "/opt/nifi/nifi-current/conf/hadoop-conf/core-site.xml,/opt/nifi/nifi-current/conf/hadoop-conf/hdfs-site.xml",
            "Compression codec" : "NONE",
            "Ignore Locality" : "false",
            "Append Mode" : "DEFAULT",
            "writing-strategy" : "writeAndRename",
            "Kerberos Relogin Period" : "4 hours",
            "Directory" : "/bronze/raw/",
            "Conflict Resolution Strategy" : "replace"
          },
          "propertyDescriptors" : {
            "Permissions umask" : {
              "displayName" : "Permissions umask",
              "identifiesControllerService" : false,
              "name" : "Permissions umask",
              "sensitive" : false
            },
            "Hadoop Configuration Resources" : {
              "displayName" : "Hadoop Configuration Resources",
              "identifiesControllerService" : false,
              "name" : "Hadoop Configuration Resources",
              "resourceDefinition" : {
                "cardinality" : "MULTIPLE",
                "resourceTypes" : [ "FILE" ]
              },
              "sensitive" : false
            },
            "Remote Owner" : {
              "displayName" : "Remote Owner",
              "identifiesControllerService" : false,
              "name" : "Remote Owner",
              "sensitive" : false
            },
            "Additional Classpath Resources" : {
              "displayName" : "Additional Classpath Resources",
              "identifiesControllerService" : false,
              "name" : "Additional Classpath Resources",
              "resourceDefinition" : {
                "cardinality" : "MULTIPLE",
                "resourceTypes" : [ "DIRECTORY", "FILE" ]
              },
              "sensitive" : false
            },
            "Compression codec" : {
              "displayName" : "Compression codec",
              "identifiesControllerService" : false,
              "name" : "Compression codec",
              "sensitive" : false
            },
            "IO Buffer Size" : {
              "displayName" : "IO Buffer Size",
              "identifiesControllerService" : false,
              "name" : "IO Buffer Size",
              "sensitive" : false
            },
            "Remote Group" : {
              "displayName" : "Remote Group",
              "identifiesControllerService" : false,
              "name" : "Remote Group",
              "sensitive" : false
            },
            "Block Size" : {
              "displayName" : "Block Size",
              "identifiesControllerService" : false,
              "name" : "Block Size",
              "sensitive" : false
            },
            "kerberos-credentials-service" : {
              "displayName" : "Kerberos Credentials Service",
              "identifiesControllerService" : true,
              "name" : "kerberos-credentials-service",
              "sensitive" : false
            },
            "Kerberos Password" : {
              "displayName" : "Kerberos Password",
              "identifiesControllerService" : false,
              "name" : "Kerberos Password",
              "sensitive" : true
            },
            "Kerberos Keytab" : {
              "displayName" : "Kerberos Keytab",
              "identifiesControllerService" : false,
              "name" : "Kerberos Keytab",
              "resourceDefinition" : {
                "cardinality" : "SINGLE",
                "resourceTypes" : [ "FILE" ]
              },
              "sensitive" : false
            },
            "Ignore Locality" : {
              "displayName" : "Ignore Locality",
              "identifiesControllerService" : false,
              "name" : "Ignore Locality",
              "sensitive" : false
            },
            "Kerberos Principal" : {
              "displayName" : "Kerberos Principal",
              "identifiesControllerService" : false,
              "name" : "Kerberos Principal",
              "sensitive" : false
            },
            "Replication" : {
              "displayName" : "Replication",
              "identifiesControllerService" : false,
              "name" : "Replication",
              "sensitive" : false
            },
            "kerberos-user-service" : {
              "displayName" : "Kerberos User Service",
              "identifiesControllerService" : true,
              "name" : "kerberos-user-service",
              "sensitive" : false
            },
            "Append Mode" : {
              "displayName" : "Append Mode",
              "identifiesControllerService" : false,
              "name" : "Append Mode",
              "sensitive" : false
            },
            "writing-strategy" : {
              "displayName" : "Writing Strategy",
              "identifiesControllerService" : false,
              "name" : "writing-strategy",
              "sensitive" : false
            },
            "Kerberos Relogin Period" : {
              "displayName" : "Kerberos Relogin Period",
              "identifiesControllerService" : false,
              "name" : "Kerberos Relogin Period",
              "sensitive" : false
            },
            "Directory" : {
              "displayName" : "Directory",
              "identifiesControllerService" : false,
              "name" : "Directory",
              "sensitive" : false
            },
            "Conflict Resolution Strategy" : {
              "displayName" : "Conflict Resolution Strategy",
              "identifiesControllerService" : false,
              "name" : "Conflict Resolution Strategy",
              "sensitive" : false
            }
          },
          "retriedRelationships" : [ ],
          "retryCount" : 10,
          "runDurationMillis" : 0,
          "scheduledState" : "ENABLED",
          "schedulingPeriod" : "0 sec",
          "schedulingStrategy" : "TIMER_DRIVEN",
          "style" : { },
          "type" : "org.apache.nifi.processors.hadoop.PutHDFS",
          "yieldDuration" : "1 sec"
        }, {
          "autoTerminatedRelationships" : [ ],
          "backoffMechanism" : "PENALIZE_FLOWFILE",
          "bulletinLevel" : "WARN",
          "bundle" : {
            "artifact" : "nifi-standard-nar",
            "group" : "org.apache.nifi",
            "version" : "1.28.0"
          },
          "comments" : "",
          "componentType" : "PROCESSOR",
          "concurrentlySchedulableTaskCount" : 1,
          "executionNode" : "ALL",
          "groupIdentifier" : "bc3f74bb-8ac4-3f8d-b141-0030d33364da",
          "identifier" : "a82de562-bc70-3645-889e-b84a37f1241a",
          "instanceIdentifier" : "06983623-0c45-1d10-047d-c59921ea103e",
          "maxBackoffPeriod" : "10 mins",
          "name" : "InvokeHTTP",
          "penaltyDuration" : "30 sec",
          "position" : {
            "x" : 2304.0,
            "y" : -144.0
          },
          "properties" : {
            "use-etag" : "false",
            "Proxy Type" : "http",
            "cookie-strategy" : "DISABLED",
            "Connection Timeout" : "5 secs",
            "send-message-body" : "true",
            "set-form-filename" : "true",
            "Always Output Response" : "false",
            "etag-max-cache-size" : "10MB",
            "Content-Encoding" : "DISABLED",
            "disable-http2" : "False",
            "idle-timeout" : "5 mins",
            "Use Chunked Encoding" : "false",
            "Follow Redirects" : "True",
            "Remote URL" : "http://api-service:8000/api/v1/traffic?lat=40.7128&lng=-74.0060",
            "Content-Type" : "${mime.type}",
            "flow-file-naming-strategy" : "RANDOM",
            "max-idle-connections" : "5",
            "Read Timeout" : "15 secs",
            "Socket Write Timeout" : "15 secs",
            "Max Length To Put In Attribute" : "256",
            "ignore-response-content" : "false",
            "Digest Authentication" : "false",
            "HTTP Method" : "GET",
            "Add Response Headers to Request" : "false",
            "Include Date Header" : "True",
            "Penalize on \"No Retry\"" : "false"
          },
          "propertyDescriptors" : {
            "Proxy Host" : {
              "displayName" : "Proxy Host",
              "identifiesControllerService" : false,
              "name" : "Proxy Host",
              "sensitive" : false
            },
            "Attributes to Send" : {
              "displayName" : "Request Header Attributes Pattern",
              "identifiesControllerService" : false,
              "name" : "Attributes to Send",
              "sensitive" : false
            },
            "use-etag" : {
              "displayName" : "Response Cache Enabled",
              "identifiesControllerService" : false,
              "name" : "use-etag",
              "sensitive" : false
            },
            "proxy-configuration-service" : {
              "displayName" : "Proxy Configuration Service",
              "identifiesControllerService" : true,
              "name" : "proxy-configuration-service",
              "sensitive" : false
            },
            "Proxy Type" : {
              "displayName" : "Proxy Type",
              "identifiesControllerService" : false,
              "name" : "Proxy Type",
              "sensitive" : false
            },
            "Basic Authentication Password" : {
              "displayName" : "Request Password",
              "identifiesControllerService" : false,
              "name" : "Basic Authentication Password",
              "sensitive" : true
            },
            "cookie-strategy" : {
              "displayName" : "Response Cookie Strategy",
              "identifiesControllerService" : false,
              "name" : "cookie-strategy",
              "sensitive" : false
            },
            "Connection Timeout" : {
              "displayName" : "Socket Connect Timeout",
              "identifiesControllerService" : false,
              "name" : "Connection Timeout",
              "sensitive" : false
            },
            "send-message-body" : {
              "displayName" : "Request Body Enabled",
              "identifiesControllerService" : false,
              "name" : "send-message-body",
              "sensitive" : false
            },
            "set-form-filename" : {
              "displayName" : "Request Multipart Form-Data Filename Enabled",
              "identifiesControllerService" : false,
              "name" : "set-form-filename",
              "sensitive" : false
            },
            "Always Output Response" : {
              "displayName" : "Response Generation Required",
              "identifiesControllerService" : false,
              "name" : "Always Output Response",
              "sensitive" : false
            },
            "etag-max-cache-size" : {
              "displayName" : "Response Cache Size",
              "identifiesControllerService" : false,
              "name" : "etag-max-cache-size",
              "sensitive" : false
            },
            "Content-Encoding" : {
              "displayName" : "Request Content-Encoding",
              "identifiesControllerService" : false,
              "name" : "Content-Encoding",
              "sensitive" : false
            },
            "disable-http2" : {
              "displayName" : "HTTP/2 Disabled",
              "identifiesControllerService" : false,
              "name" : "disable-http2",
              "sensitive" : false
            },
            "idle-timeout" : {
              "displayName" : "Socket Idle Timeout",
              "identifiesControllerService" : false,
              "name" : "idle-timeout",
              "sensitive" : false
            },
            "Put Response Body In Attribute" : {
              "displayName" : "Response Body Attribute Name",
              "identifiesControllerService" : false,
              "name" : "Put Response Body In Attribute",
              "sensitive" : false
            },
            "Use Chunked Encoding" : {
              "displayName" : "Request Chunked Transfer-Encoding Enabled",
              "identifiesControllerService" : false,
              "name" : "Use Chunked Encoding",
              "sensitive" : false
            },
            "Follow Redirects" : {
              "displayName" : "Response Redirects Enabled",
              "identifiesControllerService" : false,
              "name" : "Follow Redirects",
              "sensitive" : false
            },
            "Remote URL" : {
              "displayName" : "HTTP URL",
              "identifiesControllerService" : false,
              "name" : "Remote URL",
              "sensitive" : false
            },
            "form-body-form-name" : {
              "displayName" : "Request Multipart Form-Data Name",
              "identifiesControllerService" : false,
              "name" : "form-body-form-name",
              "sensitive" : false
            },
            "Content-Type" : {
              "displayName" : "Request Content-Type",
              "identifiesControllerService" : false,
              "name" : "Content-Type",
              "sensitive" : false
            },
            "flow-file-naming-strategy" : {
              "displayName" : "Response FlowFile Naming Strategy",
              "identifiesControllerService" : false,
              "name" : "flow-file-naming-strategy",
              "sensitive" : false
            },
            "max-idle-connections" : {
              "displayName" : "Socket Idle Connections",
              "identifiesControllerService" : false,
              "name" : "max-idle-connections",
              "sensitive" : false
            },
            "invokehttp-proxy-user" : {
              "displayName" : "Proxy Username",
              "identifiesControllerService" : false,
              "name" : "invokehttp-proxy-user",
              "sensitive" : false
            },
            "Read Timeout" : {
              "displayName" : "Socket Read Timeout",
              "identifiesControllerService" : false,
              "name" : "Read Timeout",
              "sensitive" : false
            },
            "Socket Write Timeout" : {
              "displayName" : "Socket Write Timeout",
              "identifiesControllerService" : false,
              "name" : "Socket Write Timeout",
              "sensitive" : false
            },
            "Max Length To Put In Attribute" : {
              "displayName" : "Response Body Attribute Size",
              "identifiesControllerService" : false,
              "name" : "Max Length To Put In Attribute",
              "sensitive" : false
            },
            "invokehttp-proxy-password" : {
              "displayName" : "Proxy Password",
              "identifiesControllerService" : false,
              "name" : "invokehttp-proxy-password",
              "sensitive" : true
            },
            "ignore-response-content" : {
              "displayName" : "Response Body Ignored",
              "identifiesControllerService" : false,
              "name" : "ignore-response-content",
              "sensitive" : false
            },
            "Proxy Port" : {
              "displayName" : "Proxy Port",
              "identifiesControllerService" : false,
              "name" : "Proxy Port",
              "sensitive" : false
            },
            "SSL Context Service" : {
              "displayName" : "SSL Context Service",
              "identifiesControllerService" : true,
              "name" : "SSL Context Service",
              "sensitive" : false
            },
            "Digest Authentication" : {
              "displayName" : "Request Digest Authentication Enabled",
              "identifiesControllerService" : false,
              "name" : "Digest Authentication",
              "sensitive" : false
            },
            "HTTP Method" : {
              "displayName" : "HTTP Method",
              "identifiesControllerService" : false,
              "name" : "HTTP Method",
              "sensitive" : false
            },
            "Add Response Headers to Request" : {
              "displayName" : "Response Header Request Attributes Enabled",
              "identifiesControllerService" : false,
              "name" : "Add Response Headers to Request",
              "sensitive" : false
            },
            "oauth2-access-token-provider" : {
              "displayName" : "Request OAuth2 Access Token Provider",
              "identifiesControllerService" : true,
              "name" : "oauth2-access-token-provider",
              "sensitive" : false
            },
            "Basic Authentication Username" : {
              "displayName" : "Request Username",
              "identifiesControllerService" : false,
              "name" : "Basic Authentication Username",
              "sensitive" : false
            },
            "Include Date Header" : {
              "displayName" : "Request Date Header Enabled",
              "identifiesControllerService" : false,
              "name" : "Include Date Header",
              "sensitive" : false
            },
            "Penalize on \"No Retry\"" : {
              "displayName" : "Request Failure Penalization Enabled",
              "identifiesControllerService" : false,
              "name" : "Penalize on \"No Retry\"",
              "sensitive" : false
            },
            "Useragent" : {
              "displayName" : "Request User-Agent",
              "identifiesControllerService" : false,
              "name" : "Useragent",
              "sensitive" : false
            }
          },
          "retriedRelationships" : [ ],
          "retryCount" : 10,
          "runDurationMillis" : 0,
          "scheduledState" : "ENABLED",
          "schedulingPeriod" : "0 sec",
          "schedulingStrategy" : "TIMER_DRIVEN",
          "style" : { },
          "type" : "org.apache.nifi.processors.standard.InvokeHTTP",
          "yieldDuration" : "1 sec"
        }, {
          "autoTerminatedRelationships" : [ ],
          "backoffMechanism" : "PENALIZE_FLOWFILE",
          "bulletinLevel" : "WARN",
          "bundle" : {
            "artifact" : "nifi-standard-nar",
            "group" : "org.apache.nifi",
            "version" : "1.28.0"
          },
          "comments" : "",
          "componentType" : "PROCESSOR",
          "concurrentlySchedulableTaskCount" : 1,
          "executionNode" : "ALL",
          "groupIdentifier" : "bc3f74bb-8ac4-3f8d-b141-0030d33364da",
          "identifier" : "64deba98-4261-34e4-a830-9809c739014b",
          "instanceIdentifier" : "32a13400-83aa-17ff-004d-00c5d63f1b4b",
          "maxBackoffPeriod" : "10 mins",
          "name" : "LogMessage",
          "penaltyDuration" : "30 sec",
          "position" : {
            "x" : 2776.0,
            "y" : 520.0
          },
          "properties" : {
            "log-level" : "info"
          },
          "propertyDescriptors" : {
            "log-message" : {
              "displayName" : "Log message",
              "identifiesControllerService" : false,
              "name" : "log-message",
              "sensitive" : false
            },
            "log-level" : {
              "displayName" : "Log Level",
              "identifiesControllerService" : false,
              "name" : "log-level",
              "sensitive" : false
            },
            "log-prefix" : {
              "displayName" : "Log prefix",
              "identifiesControllerService" : false,
              "name" : "log-prefix",
              "sensitive" : false
            }
          },
          "retriedRelationships" : [ ],
          "retryCount" : 10,
          "runDurationMillis" : 25,
          "scheduledState" : "ENABLED",
          "schedulingPeriod" : "0 sec",
          "schedulingStrategy" : "TIMER_DRIVEN",
          "style" : { },
          "type" : "org.apache.nifi.processors.standard.LogMessage",
          "yieldDuration" : "1 sec"
        }, {
          "autoTerminatedRelationships" : [ ],
          "backoffMechanism" : "PENALIZE_FLOWFILE",
          "bulletinLevel" : "WARN",
          "bundle" : {
            "artifact" : "nifi-standard-nar",
            "group" : "org.apache.nifi",
            "version" : "1.28.0"
          },
          "comments" : "",
          "componentType" : "PROCESSOR",
          "concurrentlySchedulableTaskCount" : 1,
          "executionNode" : "ALL",
          "groupIdentifier" : "bc3f74bb-8ac4-3f8d-b141-0030d33364da",
          "identifier" : "787d26dd-1bed-3c8d-be1a-c86d602decea",
          "instanceIdentifier" : "32a1342e-83aa-17ff-0f22-42f4eb19beec",
          "maxBackoffPeriod" : "10 mins",
          "name" : "EvaluateJsonPath",
          "penaltyDuration" : "30 sec",
          "position" : {
            "x" : 1296.0,
            "y" : 952.0
          },
          "properties" : {
            "Destination" : "flowfile-attribute",
            "Max String Length" : "20 MB",
            "Return Type" : "auto-detect",
            "Null Value Representation" : "empty string",
            "event_time" : "$.dt",
            "Path Not Found Behavior" : "ignore"
          },
          "propertyDescriptors" : {
            "Destination" : {
              "displayName" : "Destination",
              "identifiesControllerService" : false,
              "name" : "Destination",
              "sensitive" : false
            },
            "Max String Length" : {
              "displayName" : "Max String Length",
              "identifiesControllerService" : false,
              "name" : "Max String Length",
              "sensitive" : false
            },
            "Return Type" : {
              "displayName" : "Return Type",
              "identifiesControllerService" : false,
              "name" : "Return Type",
              "sensitive" : false
            },
            "Null Value Representation" : {
              "displayName" : "Null Value Representation",
              "identifiesControllerService" : false,
              "name" : "Null Value Representation",
              "sensitive" : false
            },
            "event_time" : {
              "displayName" : "event_time",
              "identifiesControllerService" : false,
              "name" : "event_time",
              "sensitive" : false
            },
            "Path Not Found Behavior" : {
              "displayName" : "Path Not Found Behavior",
              "identifiesControllerService" : false,
              "name" : "Path Not Found Behavior",
              "sensitive" : false
            }
          },
          "retriedRelationships" : [ ],
          "retryCount" : 10,
          "runDurationMillis" : 0,
          "scheduledState" : "ENABLED",
          "schedulingPeriod" : "0 sec",
          "schedulingStrategy" : "TIMER_DRIVEN",
          "style" : { },
          "type" : "org.apache.nifi.processors.standard.EvaluateJsonPath",
          "yieldDuration" : "1 sec"
        }, {
          "autoTerminatedRelationships" : [ ],
          "backoffMechanism" : "PENALIZE_FLOWFILE",
          "bulletinLevel" : "WARN",
          "bundle" : {
            "artifact" : "nifi-standard-nar",
            "group" : "org.apache.nifi",
            "version" : "1.28.0"
          },
          "comments" : "",
          "componentType" : "PROCESSOR",
          "concurrentlySchedulableTaskCount" : 1,
          "executionNode" : "ALL",
          "groupIdentifier" : "bc3f74bb-8ac4-3f8d-b141-0030d33364da",
          "identifier" : "20ef5c5e-cbee-3ff4-8112-c61131d0c4ef",
          "instanceIdentifier" : "57ac3d0f-79f2-117d-6ab7-bc0f66a4d78c",
          "maxBackoffPeriod" : "10 mins",
          "name" : "LogMessage",
          "penaltyDuration" : "30 sec",
          "position" : {
            "x" : 2296.0,
            "y" : 720.0
          },
          "properties" : {
            "log-level" : "info"
          },
          "propertyDescriptors" : {
            "log-message" : {
              "displayName" : "Log message",
              "identifiesControllerService" : false,
              "name" : "log-message",
              "sensitive" : false
            },
            "log-level" : {
              "displayName" : "Log Level",
              "identifiesControllerService" : false,
              "name" : "log-level",
              "sensitive" : false
            },
            "log-prefix" : {
              "displayName" : "Log prefix",
              "identifiesControllerService" : false,
              "name" : "log-prefix",
              "sensitive" : false
            }
          },
          "retriedRelationships" : [ ],
          "retryCount" : 10,
          "runDurationMillis" : 25,
          "scheduledState" : "ENABLED",
          "schedulingPeriod" : "0 sec",
          "schedulingStrategy" : "TIMER_DRIVEN",
          "style" : { },
          "type" : "org.apache.nifi.processors.standard.LogMessage",
          "yieldDuration" : "1 sec"
        }, {
          "autoTerminatedRelationships" : [ ],
          "backoffMechanism" : "PENALIZE_FLOWFILE",
          "bulletinLevel" : "WARN",
          "bundle" : {
            "artifact" : "nifi-standard-nar",
            "group" : "org.apache.nifi",
            "version" : "1.28.0"
          },
          "comments" : "",
          "componentType" : "PROCESSOR",
          "concurrentlySchedulableTaskCount" : 1,
          "executionNode" : "ALL",
          "groupIdentifier" : "bc3f74bb-8ac4-3f8d-b141-0030d33364da",
          "identifier" : "da2bdfb4-56c0-35fb-9c18-e8584b425c03",
          "instanceIdentifier" : "64a4a9ea-bdec-38fc-295a-ebb7b620b689",
          "maxBackoffPeriod" : "10 mins",
          "name" : "LogMessage",
          "penaltyDuration" : "30 sec",
          "position" : {
            "x" : 896.0,
            "y" : 336.0
          },
          "properties" : {
            "log-level" : "info"
          },
          "propertyDescriptors" : {
            "log-message" : {
              "displayName" : "Log message",
              "identifiesControllerService" : false,
              "name" : "log-message",
              "sensitive" : false
            },
            "log-level" : {
              "displayName" : "Log Level",
              "identifiesControllerService" : false,
              "name" : "log-level",
              "sensitive" : false
            },
            "log-prefix" : {
              "displayName" : "Log prefix",
              "identifiesControllerService" : false,
              "name" : "log-prefix",
              "sensitive" : false
            }
          },
          "retriedRelationships" : [ ],
          "retryCount" : 10,
          "runDurationMillis" : 25,
          "scheduledState" : "ENABLED",
          "schedulingPeriod" : "0 sec",
          "schedulingStrategy" : "TIMER_DRIVEN",
          "style" : { },
          "type" : "org.apache.nifi.processors.standard.LogMessage",
          "yieldDuration" : "1 sec"
        }, {
          "autoTerminatedRelationships" : [ ],
          "backoffMechanism" : "PENALIZE_FLOWFILE",
          "bulletinLevel" : "WARN",
          "bundle" : {
            "artifact" : "nifi-standard-nar",
            "group" : "org.apache.nifi",
            "version" : "1.28.0"
          },
          "comments" : "",
          "componentType" : "PROCESSOR",
          "concurrentlySchedulableTaskCount" : 1,
          "executionNode" : "ALL",
          "groupIdentifier" : "bc3f74bb-8ac4-3f8d-b141-0030d33364da",
          "identifier" : "20d90420-d8b0-3ace-9ee7-e61d50eef397",
          "instanceIdentifier" : "32a13443-83aa-17ff-ab08-499e6bb3cde9",
          "maxBackoffPeriod" : "10 mins",
          "name" : "LogMessage",
          "penaltyDuration" : "30 sec",
          "position" : {
            "x" : 1760.0,
            "y" : 16.0
          },
          "properties" : {
            "log-level" : "info"
          },
          "propertyDescriptors" : {
            "log-message" : {
              "displayName" : "Log message",
              "identifiesControllerService" : false,
              "name" : "log-message",
              "sensitive" : false
            },
            "log-level" : {
              "displayName" : "Log Level",
              "identifiesControllerService" : false,
              "name" : "log-level",
              "sensitive" : false
            },
            "log-prefix" : {
              "displayName" : "Log prefix",
              "identifiesControllerService" : false,
              "name" : "log-prefix",
              "sensitive" : false
            }
          },
          "retriedRelationships" : [ ],
          "retryCount" : 10,
          "runDurationMillis" : 25,
          "scheduledState" : "ENABLED",
          "schedulingPeriod" : "0 sec",
          "schedulingStrategy" : "TIMER_DRIVEN",
          "style" : { },
          "type" : "org.apache.nifi.processors.standard.LogMessage",
          "yieldDuration" : "1 sec"
        }, {
          "autoTerminatedRelationships" : [ ],
          "backoffMechanism" : "PENALIZE_FLOWFILE",
          "bulletinLevel" : "WARN",
          "bundle" : {
            "artifact" : "nifi-standard-nar",
            "group" : "org.apache.nifi",
            "version" : "1.28.0"
          },
          "comments" : "",
          "componentType" : "PROCESSOR",
          "concurrentlySchedulableTaskCount" : 1,
          "executionNode" : "ALL",
          "groupIdentifier" : "bc3f74bb-8ac4-3f8d-b141-0030d33364da",
          "identifier" : "ddccbec7-9b66-3bf5-8d77-5fec0cfdd387",
          "instanceIdentifier" : "bdec38fc-a9ea-14a4-a03f-2f3931fbdba3",
          "maxBackoffPeriod" : "10 mins",
          "name" : "LogMessage",
          "penaltyDuration" : "30 sec",
          "position" : {
            "x" : 2760.0,
            "y" : 352.0
          },
          "properties" : {
            "log-level" : "info"
          },
          "propertyDescriptors" : {
            "log-message" : {
              "displayName" : "Log message",
              "identifiesControllerService" : false,
              "name" : "log-message",
              "sensitive" : false
            },
            "log-level" : {
              "displayName" : "Log Level",
              "identifiesControllerService" : false,
              "name" : "log-level",
              "sensitive" : false
            },
            "log-prefix" : {
              "displayName" : "Log prefix",
              "identifiesControllerService" : false,
              "name" : "log-prefix",
              "sensitive" : false
            }
          },
          "retriedRelationships" : [ ],
          "retryCount" : 10,
          "runDurationMillis" : 25,
          "scheduledState" : "ENABLED",
          "schedulingPeriod" : "0 sec",
          "schedulingStrategy" : "TIMER_DRIVEN",
          "style" : { },
          "type" : "org.apache.nifi.processors.standard.LogMessage",
          "yieldDuration" : "1 sec"
        }, {
          "autoTerminatedRelationships" : [ ],
          "backoffMechanism" : "PENALIZE_FLOWFILE",
          "bulletinLevel" : "WARN",
          "bundle" : {
            "artifact" : "nifi-standard-nar",
            "group" : "org.apache.nifi",
            "version" : "1.28.0"
          },
          "comments" : "",
          "componentType" : "PROCESSOR",
          "concurrentlySchedulableTaskCount" : 1,
          "executionNode" : "ALL",
          "groupIdentifier" : "bc3f74bb-8ac4-3f8d-b141-0030d33364da",
          "identifier" : "dde74ed2-e63d-3e00-a5c3-045f1caf1e05",
          "instanceIdentifier" : "0d100c45-0698-3623-28c4-5e0319641322",
          "maxBackoffPeriod" : "10 mins",
          "name" : "InvokeHTTP",
          "penaltyDuration" : "30 sec",
          "position" : {
            "x" : 344.0,
            "y" : -168.0
          },
          "properties" : {
            "use-etag" : "false",
            "Proxy Type" : "http",
            "cookie-strategy" : "DISABLED",
            "Connection Timeout" : "5 secs",
            "send-message-body" : "true",
            "set-form-filename" : "true",
            "Always Output Response" : "false",
            "etag-max-cache-size" : "10MB",
            "Content-Encoding" : "DISABLED",
            "disable-http2" : "False",
            "idle-timeout" : "5 mins",
            "Use Chunked Encoding" : "false",
            "Follow Redirects" : "True",
            "Remote URL" : "http://api-service:8000/api/v1/traffic?lat=40.7128&lng=-74.0060",
            "Content-Type" : "${mime.type}",
            "flow-file-naming-strategy" : "RANDOM",
            "max-idle-connections" : "5",
            "Read Timeout" : "15 secs",
            "Socket Write Timeout" : "15 secs",
            "Max Length To Put In Attribute" : "256",
            "ignore-response-content" : "false",
            "Digest Authentication" : "false",
            "HTTP Method" : "GET",
            "Add Response Headers to Request" : "false",
            "Include Date Header" : "True",
            "Penalize on \"No Retry\"" : "false"
          },
          "propertyDescriptors" : {
            "Proxy Host" : {
              "displayName" : "Proxy Host",
              "identifiesControllerService" : false,
              "name" : "Proxy Host",
              "sensitive" : false
            },
            "Attributes to Send" : {
              "displayName" : "Request Header Attributes Pattern",
              "identifiesControllerService" : false,
              "name" : "Attributes to Send",
              "sensitive" : false
            },
            "use-etag" : {
              "displayName" : "Response Cache Enabled",
              "identifiesControllerService" : false,
              "name" : "use-etag",
              "sensitive" : false
            },
            "proxy-configuration-service" : {
              "displayName" : "Proxy Configuration Service",
              "identifiesControllerService" : true,
              "name" : "proxy-configuration-service",
              "sensitive" : false
            },
            "Proxy Type" : {
              "displayName" : "Proxy Type",
              "identifiesControllerService" : false,
              "name" : "Proxy Type",
              "sensitive" : false
            },
            "Basic Authentication Password" : {
              "displayName" : "Request Password",
              "identifiesControllerService" : false,
              "name" : "Basic Authentication Password",
              "sensitive" : true
            },
            "cookie-strategy" : {
              "displayName" : "Response Cookie Strategy",
              "identifiesControllerService" : false,
              "name" : "cookie-strategy",
              "sensitive" : false
            },
            "Connection Timeout" : {
              "displayName" : "Socket Connect Timeout",
              "identifiesControllerService" : false,
              "name" : "Connection Timeout",
              "sensitive" : false
            },
            "send-message-body" : {
              "displayName" : "Request Body Enabled",
              "identifiesControllerService" : false,
              "name" : "send-message-body",
              "sensitive" : false
            },
            "set-form-filename" : {
              "displayName" : "Request Multipart Form-Data Filename Enabled",
              "identifiesControllerService" : false,
              "name" : "set-form-filename",
              "sensitive" : false
            },
            "Always Output Response" : {
              "displayName" : "Response Generation Required",
              "identifiesControllerService" : false,
              "name" : "Always Output Response",
              "sensitive" : false
            },
            "etag-max-cache-size" : {
              "displayName" : "Response Cache Size",
              "identifiesControllerService" : false,
              "name" : "etag-max-cache-size",
              "sensitive" : false
            },
            "Content-Encoding" : {
              "displayName" : "Request Content-Encoding",
              "identifiesControllerService" : false,
              "name" : "Content-Encoding",
              "sensitive" : false
            },
            "disable-http2" : {
              "displayName" : "HTTP/2 Disabled",
              "identifiesControllerService" : false,
              "name" : "disable-http2",
              "sensitive" : false
            },
            "idle-timeout" : {
              "displayName" : "Socket Idle Timeout",
              "identifiesControllerService" : false,
              "name" : "idle-timeout",
              "sensitive" : false
            },
            "Put Response Body In Attribute" : {
              "displayName" : "Response Body Attribute Name",
              "identifiesControllerService" : false,
              "name" : "Put Response Body In Attribute",
              "sensitive" : false
            },
            "Use Chunked Encoding" : {
              "displayName" : "Request Chunked Transfer-Encoding Enabled",
              "identifiesControllerService" : false,
              "name" : "Use Chunked Encoding",
              "sensitive" : false
            },
            "Follow Redirects" : {
              "displayName" : "Response Redirects Enabled",
              "identifiesControllerService" : false,
              "name" : "Follow Redirects",
              "sensitive" : false
            },
            "Remote URL" : {
              "displayName" : "HTTP URL",
              "identifiesControllerService" : false,
              "name" : "Remote URL",
              "sensitive" : false
            },
            "form-body-form-name" : {
              "displayName" : "Request Multipart Form-Data Name",
              "identifiesControllerService" : false,
              "name" : "form-body-form-name",
              "sensitive" : false
            },
            "Content-Type" : {
              "displayName" : "Request Content-Type",
              "identifiesControllerService" : false,
              "name" : "Content-Type",
              "sensitive" : false
            },
            "flow-file-naming-strategy" : {
              "displayName" : "Response FlowFile Naming Strategy",
              "identifiesControllerService" : false,
              "name" : "flow-file-naming-strategy",
              "sensitive" : false
            },
            "max-idle-connections" : {
              "displayName" : "Socket Idle Connections",
              "identifiesControllerService" : false,
              "name" : "max-idle-connections",
              "sensitive" : false
            },
            "invokehttp-proxy-user" : {
              "displayName" : "Proxy Username",
              "identifiesControllerService" : false,
              "name" : "invokehttp-proxy-user",
              "sensitive" : false
            },
            "Read Timeout" : {
              "displayName" : "Socket Read Timeout",
              "identifiesControllerService" : false,
              "name" : "Read Timeout",
              "sensitive" : false
            },
            "Socket Write Timeout" : {
              "displayName" : "Socket Write Timeout",
              "identifiesControllerService" : false,
              "name" : "Socket Write Timeout",
              "sensitive" : false
            },
            "Max Length To Put In Attribute" : {
              "displayName" : "Response Body Attribute Size",
              "identifiesControllerService" : false,
              "name" : "Max Length To Put In Attribute",
              "sensitive" : false
            },
            "invokehttp-proxy-password" : {
              "displayName" : "Proxy Password",
              "identifiesControllerService" : false,
              "name" : "invokehttp-proxy-password",
              "sensitive" : true
            },
            "ignore-response-content" : {
              "displayName" : "Response Body Ignored",
              "identifiesControllerService" : false,
              "name" : "ignore-response-content",
              "sensitive" : false
            },
            "Proxy Port" : {
              "displayName" : "Proxy Port",
              "identifiesControllerService" : false,
              "name" : "Proxy Port",
              "sensitive" : false
            },
            "SSL Context Service" : {
              "displayName" : "SSL Context Service",
              "identifiesControllerService" : true,
              "name" : "SSL Context Service",
              "sensitive" : false
            },
            "Digest Authentication" : {
              "displayName" : "Request Digest Authentication Enabled",
              "identifiesControllerService" : false,
              "name" : "Digest Authentication",
              "sensitive" : false
            },
            "HTTP Method" : {
              "displayName" : "HTTP Method",
              "identifiesControllerService" : false,
              "name" : "HTTP Method",
              "sensitive" : false
            },
            "Add Response Headers to Request" : {
              "displayName" : "Response Header Request Attributes Enabled",
              "identifiesControllerService" : false,
              "name" : "Add Response Headers to Request",
              "sensitive" : false
            },
            "oauth2-access-token-provider" : {
              "displayName" : "Request OAuth2 Access Token Provider",
              "identifiesControllerService" : true,
              "name" : "oauth2-access-token-provider",
              "sensitive" : false
            },
            "Basic Authentication Username" : {
              "displayName" : "Request Username",
              "identifiesControllerService" : false,
              "name" : "Basic Authentication Username",
              "sensitive" : false
            },
            "Include Date Header" : {
              "displayName" : "Request Date Header Enabled",
              "identifiesControllerService" : false,
              "name" : "Include Date Header",
              "sensitive" : false
            },
            "Penalize on \"No Retry\"" : {
              "displayName" : "Request Failure Penalization Enabled",
              "identifiesControllerService" : false,
              "name" : "Penalize on \"No Retry\"",
              "sensitive" : false
            },
            "Useragent" : {
              "displayName" : "Request User-Agent",
              "identifiesControllerService" : false,
              "name" : "Useragent",
              "sensitive" : false
            }
          },
          "retriedRelationships" : [ ],
          "retryCount" : 10,
          "runDurationMillis" : 0,
          "scheduledState" : "ENABLED",
          "schedulingPeriod" : "0 sec",
          "schedulingStrategy" : "TIMER_DRIVEN",
          "style" : { },
          "type" : "org.apache.nifi.processors.standard.InvokeHTTP",
          "yieldDuration" : "1 sec"
        }, {
          "autoTerminatedRelationships" : [ ],
          "backoffMechanism" : "PENALIZE_FLOWFILE",
          "bulletinLevel" : "WARN",
          "bundle" : {
            "artifact" : "nifi-standard-nar",
            "group" : "org.apache.nifi",
            "version" : "1.28.0"
          },
          "comments" : "",
          "componentType" : "PROCESSOR",
          "concurrentlySchedulableTaskCount" : 1,
          "executionNode" : "ALL",
          "groupIdentifier" : "bc3f74bb-8ac4-3f8d-b141-0030d33364da",
          "identifier" : "68f42ea8-1111-3890-98b6-e1ae0dec89b7",
          "instanceIdentifier" : "617d79f2-57ac-3d0f-f035-9087e83b346f",
          "maxBackoffPeriod" : "10 mins",
          "name" : "LogMessage",
          "penaltyDuration" : "30 sec",
          "position" : {
            "x" : 336.0,
            "y" : 720.0
          },
          "properties" : {
            "log-level" : "info"
          },
          "propertyDescriptors" : {
            "log-message" : {
              "displayName" : "Log message",
              "identifiesControllerService" : false,
              "name" : "log-message",
              "sensitive" : false
            },
            "log-level" : {
              "displayName" : "Log Level",
              "identifiesControllerService" : false,
              "name" : "log-level",
              "sensitive" : false
            },
            "log-prefix" : {
              "displayName" : "Log prefix",
              "identifiesControllerService" : false,
              "name" : "log-prefix",
              "sensitive" : false
            }
          },
          "retriedRelationships" : [ ],
          "retryCount" : 10,
          "runDurationMillis" : 25,
          "scheduledState" : "ENABLED",
          "schedulingPeriod" : "0 sec",
          "schedulingStrategy" : "TIMER_DRIVEN",
          "style" : { },
          "type" : "org.apache.nifi.processors.standard.LogMessage",
          "yieldDuration" : "1 sec"
        } ],
        "remoteProcessGroups" : [ ],
        "variables" : { }
      },
      "flowEncodingVersion" : "1.0",
      "parameterContexts" : { },
      "parameterProviders" : { }
    }
  }
}